//Accordion style
.accordion-button {
    font-weight: $headings-font-weight-sm;
    &::after {
        background-image: none;
        font-weight: 200;
        font-family: boxicons !important;
        transform: rotate(0);
        content: "\ea4a";
        font-size: 2rem;
        color:currentColor;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        text-align:center;
        line-height: 1;
        box-sizing: content-box;
    }
}
.accordion-button:not(.collapsed) {
    &::after {
        background-image: none;
        transform: rotate(-180deg);
        color: $white;
    }
}

.accordion.accordion-custom2 {
    .accordion-button {
        background-color: $gray-300;
        color: $gray-600;
    }
    .accordion-button:not(.collapsed) {
        background-color: $gray-600;
        color: $white;
    }
    .accordion-button:focus {
        box-shadow: none;
    }
}

//custo underline-accordion
.accordion.accordion-custom {
    .accordion-item {
        border: 0px;
        border-radius: 0;
    }

    .accordion-body {
        padding-top: 0;
        border-radius: 0;
    }

    .accordion-item:last-of-type .accordion-button.collapsed {
        border-radius: 0;
    }
    .accordion-button {
        //box-shadow: $box-shadow;
        transition: all .25s;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-color: $gray-600;
        border-radius: 0;
        &::after {
            background-image: none;
            font-weight: 200;
            font-family: boxicons !important;
            transform: rotate(0);
            content: "\ea4a";
            font-size: 2rem;
            color:currentColor;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 1rem;
            height: 1rem;
            text-align:center;
            line-height: 1;
            box-sizing: content-box;
        }
    }
    .accordion-collapse,.accordion-button:not(.collapsed){
        background-color: $gray-100;
        border-radius: 0;
    }
    .accordion-collapse{
        border-radius: 0;
    }
    .accordion-button:not(.collapsed) {
        box-shadow: none;
        border-radius: 0;
        background-color: $gray-600;
        color: $white;
        &::after {
            background-image: none;
            transform: rotate(-180deg);
            color: $white;
        }
    }
}