//
//Caret dropdown toggle
//
.dropdown-toggle::after{
    margin: 0;
    opacity: .5;
    border: 0 !important;
}
.dropend .dropdown-toggle::after{
    margin-left: $spacer * .25;
}
.dropstart .dropdown-toggle::before{
    margin-right: $spacer * .75;
    opacity: .5;
    vertical-align: -.15em;
}
.dropdown-toggle-split.dropdown-toggle::after{
    margin-left: 0;
}
.dropstart .dropdown-toggle-split.dropdown-toggle::before{
    margin-right: 0px;
}