//
//Pagination styl
//
.page-link a {
    color: $gray-500;
}

.page-item.active .page-link {
    background-color: $gray-500;
    border-color: $gray-500;
}
.page-item{
    &:not(:first-child){
        margin-left: .375rem;
    }
    .page-link{
        border-radius: $pagination-border-radius;
    }
}
.pagination-sm{
    
    .page-item:not(:first-child){
        margin-left: .25rem;
    }
    .page-link{
        border-radius: $pagination-border-radius-sm;
    }
}
.pagination-lg{
    .page-item:not(:first-child){
        margin-left: .5rem;
    }
    .page-link{
        border-radius: $pagination-border-radius-lg;
    }
}