$dropdown-min-width:                18rem !default;

// Bootstrap functions
@import './node_modules/bootstrap/scss/functions';
// theme functions
@import './custom/functions/functions';
//Import bootstrap overrides variables - theme variables
@import "./custom/variables/variables";
@import "./custom/mixins/buttons";
@import "./node_modules/bootstrap/scss/utilities";
@import "./custom/utilities/utilities";
//Import bootstrap scss
@import "./node_modules/bootstrap/scss/bootstrap.scss";

//Aos animation
@import "./node_modules/aos/src/sass/aos.scss";

//Bigger Picture
@import "./node_modules/bigger-picture/dist/bigger-picture.scss";

//Theme core style import
//mixins
@import "./custom/mixins/buttons";
@import "./custom/mixins/transition";
@import "./custom/webfonts/webfonts";
@import "./custom/utilities/typography";
@import "./custom/utilities/animations";
@import "./custom/components/components";


main {

    font-size: 1.075rem;

    h1,
    h2,
    h3 {
        letter-spacing: -1px;
    }

    h4,
    h5,
    h6 {
        letter-spacing: -.6px;
    }

    .compAlmgTexto, article {
        p {
            line-height: 1.65;
            margin-bottom: 1.65rem;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
        
        a {
            text-decoration: underline;
        }
    }

}

.text-white .grid-separator>* {
    box-shadow: -1px -1px 0 0 $gray-200;
}

.galleyimages {
    width: 100%;
    max-width: 1200px;
    display: table;
    margin: 0 auto;
    img {
        width: 100%;
        vertical-align: bottom;
      }
  }
  
  


.nav-custom2 {
    .nav {
        .nav-link {
            background-color: $gray-300;
            color: $gray-700;

            &.active,
            &:hover {
                color: $white;
                background-color: $gray-500;
            }
        }

        .nav-link:hover {
            color: $white !important;
        }

        .nav-link.active {
            background-color: $gray-600;
            color: $white !important;
        }
    }
}

.offcanvas.offcanvas-custom1 {
    max-width: 90%;

    .accordion-button {
        box-shadow: none !important;

        &::after {
            float: right;
            height: auto !important;
            color: $primary;
        }
    }

    .accordion-button:not(.collapsed) {
        padding-left: 15px;
        background-color: white;
        color: $primary;

        &::after {
            color: $primary;
        }
    }

    li a.nav-link.active {
        color: initial;
    }

    li a.nav-link.active:hover {
        color: var(--bs-primary);
    }

    li.active {
        background-color: var(--bs-gray-200) !important;
    }
}

.nav-custom3 {
    .nav {
        .nav-link {
            background-color: $gray-300;
            color: $gray-700;
            //border-bottom: 1px solid $gray-100 !important;

            &.active,
            &:hover {
                color: $white;
                background-color: $gray-500;
            }
        }

        .nav-link:not(.disabled) {

            &.active,
            &.hover {
                color: $white !important;
            }

        }

        .nav-link:hover {
            color: $white !important;
        }

        .nav-link.active {
            background-color: $primary;
            color: $white;
        }

        @include media-breakpoint-between(xs, lg) {
            ul.dropdown-menu {
                position: relative !important;
                transform: none !important;
                box-shadow: none !important;
                border-radius: 0 !important;
                padding: 0 !important;
                background-color: $gray-500;

                li {
                    background-color: $gray-100;
                    border-bottom: 1px solid $gray-500 !important;

                    a.nav-link {
                        color: $gray-800;
                    }
                }
            }
        }

        @include media-breakpoint-up(lg) {
            .nav-item:not(:last-child) {
                border-right: 1px solid $gray-100;
            }
        }
    }
}