<section class="bg-gray-200">
    <div class="container-fluid container-lg">
        <div class="row">
            <div class="col-6 d-lg-none px-0 d-flex justify-content-start">
                <div class="p-2">
                    <a class="link-gray-800" href="#">
                        <i class="bi bi-arrow-left-short fs-5 lh-1 text-gray-800 align-bottom"></i>
                        <span class="small align-bottom">Lorem Ipsum</span>
                    </a>
                </div>
            </div>
            <div class="col-6 px-0 d-flex justify-content-end">
                <a class="p-2 ps-3 bg-gray-500 d-lg-none border-end border-gray-400">
                    <i class="bi bi-share-fill fs-5 me-2 lh-1 text-white"></i>
                </a>
            </div>
        </div>
    </div>
</section>