<div class="bg-gray-100 border-top border-bottom mb-6 mt-4">
    <div class="container py-6">
        <div class="row justify-content-around g-1 g-lg-6 mb-4">
            <div class="col-12 col-md-6 col-xl-3 mb-7 mb-xl-0 ">
                <div class="text-center">
                    <div class="mb-4 position-relative display-1 fw-normal text-primary">
                        <i class="icon-Repeat-2 position-relative"></i>
                    </div>
                    <h5 class="mb-3">Lorem ipsum is placeholder</h5>
                    <p class="mb-3 px-lg-2">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
                        industries for layouts and visual mockups.
                    </p>
                    <a href="#!" class="small text-muted fw-semibold">
                        Lorem ipsum<i class="bx bx-right-arrow-alt align-middle ms-1 lh-1 fs-5"></i>
                    </a>
                </div>
            </div>

            <!--Feature column-->
            <div class="col-12 col-md-6 col-xl-3 mb-7 mb-xl-0">
                <div class="text-center">
                    <div class="mb-4 position-relative display-1 fw-normal text-primary">
                        <i class="icon-Light-Bulb position-relative"></i>
                    </div>
                    <h5 class="mb-3">Lorem ipsum is placeholder</h5>
                    <p class="mb-3 px-lg-2">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
                        industries for layouts and visual mockups.
                    </p>
                    <a href="#!" class="small text-muted fw-semibold">
                        Lorem ipsum<i class="bx bx-right-arrow-alt align-middle ms-1 lh-1 fs-5"></i>
                    </a>
                </div>
            </div>

            <!--Feature column-->
            <div class="col-12 col-md-6 col-xl-3 mb-7 mb-md-0">
                <div class="text-center">
                    <div class="mb-4 position-relative display-1 fw-normal text-primary">
                        <i class="icon-Bridge position-relative"></i>
                    </div>
                    <h5 class="mb-3">Lorem ipsum is placeholder</h5>
                    <p class="mb-3 px-lg-2">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
                        industries for layouts and visual mockups.
                    </p>
                    <a href="#!" class="small text-muted fw-semibold">
                        Lorem ipsum<i class="bx bx-right-arrow-alt align-middle ms-1 lh-1 fs-5"></i>
                    </a>
                </div>
            </div>
            <!--Feature column-->
            <div class="col-12 col-md-6 col-xl-3 ">
                <div class="text-center">
                    <div class="mb-4 position-relative display-1 fw-normal text-primary">
                        <i class="icon-Duplicate-Window position-relative"></i>
                    </div>
                    <h5 class="mb-3">Lorem ipsum is placeholder</h5>
                    <p class="mb-3 px-lg-2">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
                        industries for layouts and visual mockups.
                    </p>
                    <a href="#!" class="small text-muted fw-semibold">
                        Lorem ipsum<i class="bx bx-right-arrow-alt align-middle ms-1 lh-1 fs-5"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>