<div class="container mt-4 mt-lg-8">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <article class="article">
                @@include('../share/almg-share.html')
                <!--page-hero-->
                <section class="position-relative bg-white">
                    <div class="container pt-7 pt-lg-0 pb-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-6 mx-auto mx-md-0">
                                <div class="position-relative">
                                    <!--Hero illustration-->
                                    <img src="../assets/img/graphics/illustration/01.svg"
                                        class="img-fluid position-relative w-100 mx-auto d-block" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 mb-5 mb-md-0">
                                <!--Hero heading-->
                                <h1 class="display-2 mb-4 ls--2">A muitas mãos</h1>
                                <!--Hero subheading-->
                                <p class="mb-5 lead">
                                    É assim que definimos a agenda pública de Minas Gerais
                                </p>
                                <!--Hero action-->
                                <a href="#" data-bigpicture='{"ytSrc": "R5Dr-L8TrpU", "noLoader": "true"}'
                                    class="btn btn-lg btn-hover-arrow btn-primary hover-lift"><i
                                        class="bi bi-play-circle-fill fs-2 lh-1 align-middle me-2"></i> Conheça o
                                    PPAG</a>
                            </div>

                        </div>
                    </div>
                    <!--/.end-container-->
                </section>
                <!--/.end-hero-->
            </article>
            <!--/.article-->
        </div>
    </div>
</div>
@@include('../aside/almg-aside-news.html')
<!--Call to action-->
<div class="container mb-4 mb-lg-6">
    <div class="px-4 rounded-3 shadow-lg py-6 px-lg-5 py-lg-7 bg-gradient-secondary 
            text-white position-relative overflow-hidden">
        <div class="row align-items-end position-relative">
            <div class="col-lg-6 col-xl-7">
                <h1 class="mb-5 mb-md-0 display-5">Consulta pública</h1>
                <h5 class="text-muted mb-4">A consulta foi encerrada, mas você ainda pode ver as participações
                </h5>
            </div>
            <div class="col-lg-6 col-xl-5 text-lg-end">
                <a href="#!" class="btn btn-secondary btn-lg me-2 mb-2 mb-lg-0">Saiba mais</a>
            </div>
        </div>
    </div>
</div>
<!--/.Call to action end-->