<div class="container my-4 my-lg-8">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <article class="article mb-4">
                @@include('../share/almg-share.html')
                <h2 class="mb-4 ls--1">Monitoramento</h2>
                <p>Em 2021, os projetos de lei do Plano Plurianual de Ação Governamental  
                    - PPAG - 2020-2023 para o exercício 2022 e do Orçamento Anual para o 
                    exercício 2022 para 2022 tramitaram na ALMG e foram aprovados no 
                    final do mês de novembro, dando origem à <a href="#">Lei nº 23.997, de 
                    26/11/2021</a>, que dispõe sobre a revisão do PPAG 2020-2023 para o 
                    exercício 2022, e à <a href="#">Lei Orçamentária Anual, Lei nº 24.013</a>,
                     de 30/11/2021.</p>

                <p>No momento da tramitação dos projetos de lei, a Comissão de Participação 
                    Popular apresentou emendas a esses projetos de lei, que asseguram a 
                    possibilidade de indicar projetos e atividades, por sugestão popular, 
                    para execução no próximo ano. Dentre as emendas apresentadas, destaca-se 
                    a que <mark>cria a ação nova "Atendimento às Demandas da Participação 
                    Cidadã"</mark>, com a finalidade de “Apoiar os órgãos e as entidades 
                    da administração pública estadual, os municípios e as organizações da 
                    sociedade civil sem finalidade lucrativa e fomentar projetos e atividades 
                    demandados pela população, como resultados do processo de discussão 
                    participativa da revisão do PPAG 2020-2023 para o exercício 2022, 
                    promovido pela Assembleia Legislativa do Estado de Minas Gerais em 
                    parceria com o governo do Estado”. Com isso,<mark> assegurou-se o espaço 
                    orçamentário para a execução dos projetos e das atividades indicados 
                    pela população</mark>, o que garantiu a continuidade do processo participativo.</p>

                <p>Assim, o processo de discussão participativa da revisão do PPAG 2020-2023 
                    para o exercício 2022 foi realizado por meio de <a href="#">consulta pública,</a> 
                    disponível no Portal da Assembleia no período de 18 a 29/10/2021, e de 
                    <a href="#">encontros on-line com representantes da sociedade civil</a>, 
                    realizados entre 20/10 e 8/11/2021, organizados em 5 encontros regionais 
                    e, em seguida, em 4 encontros temáticos. Os encontros regionais e temáticos 
                    mobilizaram um total de 75 entidades da sociedade civil, de diferentes 
                    regiões do Estado: Jequitinhonha/Mucuri; Rio Doce; Sul de Minas; Triângulo 
                    Mineiro e Centro/Norte.</p>

                <p>A Consulta Pública recebeu <mark>194 propostas</mark>, apresentadas para os 22 temas 
                    de políticas públicas disponíveis. Já as <mark>58 propostas apresentadas nos 
                    encontros temáticos on-line</mark>, versaram sobre os temas escolhidos 
                    regionalmente, quais sejam: agropecuária, assistência social, cultura e 
                    recursos hídricos. <mark>Todas as propostas foram analisadas, aglutinadas e 
                    resultaram na apresentação de 47 PLEs;</mark> dessas, 3 foram rejeitadas e 44 
                    foram acolhidas, gerando 133 requerimentos gerais, com pedidos de 
                    informações ou providências a órgãos e entidades da administração pública, 
                    e 22 requerimentos à Secretaria de Estado de Governo - SEGOV - , com a 
                    indicação de 68 projetos para a execução em 2022, que mobilizam R$25.000.000,00.</p>
                
                <p>As sugestões populares ao PPAG dão origem a Propostas de Ação Legislativa 
                    (PLEs). Essas PLEs são monitoradas pela Assembleia de Minas no ano 
                    seguinte ao de sua aprovação. <mark>Assim, no ano de 2022, o monitoramento vai 
                    sempre se referir às PLEs originárias de sugestões populares aprovadas em 
                    2021.</mark></p> 

                    <div class="position-relative text-center">
                        <button class="d-inline-flex btn btn-secondary btn-hover-arrow btn-lg align-items-center my-4"><a href="#!" class="text-white">
                                <span class="">Listagem das Propostas de Ação Legislativa (PLEs) aprovadas em 2021 para o exercício de 2022</span></a>
                        </button>
                    </div>
                

            </article>

            <!--/.article-->
        </div>
    </div>
</div>