<div class="container mb-4">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <article class="article mb-4">
                <p class="mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Viverra nam libero justo laoreet. Suscipit adipiscing
                    bibendum est ultricies integer quis auctor elit. Mauris pellentesque pulvinar
                    pellentesque
                    habitant morbi. Sapien nec sagittis aliquam malesuada. Purus sit amet volutpat
                    consequat
                    mauris. Imperdiet sed euismod nisi porta lorem mollis. Risus quis varius quam
                    quisque id
                    diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Sit amet
                    massa
                    vitae tortor condimentum lacinia quis vel eros. Diam vel quam elementum pulvinar
                    etiam non.
                    Nisl rhoncus mattis rhoncus urna. Vel elit scelerisque mauris pellentesque. Molestie
                    a
                    iaculis at erat pellentesque adipiscing commodo elit at. Faucibus et molestie ac
                    feugiat sed
                    lectus vestibulum mattis ullamcorper.
                </p>

                <blockquote
                    class="blockquote rounded-3 rounded-0 px-4 px-lg-6 py-6 py-lg-8 bg-white shadow-lg border-primary border-start border-3 my-7 my-lg-9">
                    <h2 class="mb-4 display-4 fw-semibold">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut"
                    </h2>
                    <div class="d-flex pt-4 justify-content-between align-items-center">
                        <footer class="blockquote-footer fs-5 fw-semibold">
                            Lorem Ipsum
                        </footer>
                    </div>
                </blockquote>
                <p class="mb-5">
                    Venenatis cras sed felis eget velit aliquet. Pharetra et ultrices neque ornare
                    aenean
                    euismod elementum. Gravida dictum fusce ut placerat. Facilisis mauris sit amet
                    massa. Nunc
                    scelerisque viverra mauris in aliquam. In iaculis nunc sed augue lacus. Pellentesque
                    habitant morbi tristique senectus et netus. Placerat duis ultricies lacus sed turpis
                    tincidunt. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Tincidunt
                    lobortis feugiat vivamus at augue eget arcu dictum. Amet porttitor eget dolor morbi
                    non arcu
                    risus. Mi tempus imperdiet nulla malesuada pellentesque. Lectus urna duis convallis
                    convallis. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra.
                </p>
                <section class="position-relative jarallax bg-primary" data-jarallax=".3">

                    <div class="container py-4">
                        <div class="row vh-50 align-items-center">
                            <div class="col-12 col-lg-10 px-4">
                                <h3 class="text-white h1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor
                                    incididunt ut</h3>
                                <p class="text-white mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Viverra nam libero justo laoreet. Suscipit adipiscin.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div id="jarallax-container-0"
                        style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;">
                        <img src="https://mediaserver.almg.gov.br/acervo/265/309/1265309.jpg" alt=""
                            class="jarallax-img"
                            style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1414px; height: 545.25px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 2.375px; transform: translate3d(0px, 96.4375px, 0px);">
                    </div>
                </section>
                <h4 class="my-4">Harum quidem rerum facilis</h4>
                <p>
                    Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                    soluta nobis
                    est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                    possimus,
                    omnis voluptas
                    assumenda est, omnis dolor repellendus.
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <figure class="mb-5 mt-5">
                            <img src="https://via.placeholder.com/1200x800" alt="image" class="img-fluid rounded mb-3">
                            <figcaption class="text-muted small text-center">Harum quidem rerum facilis
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure class="mb-5 mt-5">
                            <img src="https://via.placeholder.com/1200x800" alt="image" class="img-fluid rounded mb-3">
                            <figcaption class="text-muted small text-center">Harum quidem rerum facilis
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <p class="mb-0">
                    Suscipit adipiscing bibendum est ultricies integer quis auctor elit. Mauris
                    pellentesque
                    pulvinar pellentesque habitant morbi. Sapien nec sagittis aliquam malesuada. Purus
                    sit amet
                    volutpat consequat mauris. Imperdiet sed euismod nisi porta lorem mollis. Risus quis
                    varius
                    quam quisque id diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque
                    elit.
                    Sit amet massa vitae tortor condimentum lacinia quis vel eros. Diam vel quam
                    elementum
                    pulvinar etiam non. Nisl rhoncus mattis rhoncus urna. Vel elit scelerisque mauris
                    pellentesque. Molestie a iaculis at erat pellentesque adipiscing commodo elit at.
                    Faucibus
                    et molestie ac feugiat sed lectus vestibulum mattis ullamcorper.
                </p>
            </article>

            <!--/.article-->
        </div>
    </div>
</div>