<div class="container my-4 my-lg-8">
    <div class="row">
        <div class="col-xl-7 mx-auto">

            <article class="article mb-4">
                @@include('../share/almg-share.html')
                <div>
                    <span class="h6 text-gray-550">Comissão das Ferrovias </span>
                </div>
                <h1 class="mb-4 ls--2">Transporte ferroviário de passageiros será tema de audiência
                </h1>
                <p class="lead mb-4">
                    Debate desta quinta (24) da Comissão das Ferrovias focará no financiamento tanto de linhas
                    turísticas quanto regulares.
                </p>
                <small class="mb-6 d-block">23/03/2022 | Atualizado em 23/03/2022, às 12h10</small>

                <div class="images">
                    <a
                      href="https://assets.henrygd.me/bp/images/joshua-sukoff-sZ5zbZMAYJs-unsplash.jpg"
                      data-img="https://assets.henrygd.me/bp/images/joshua-sukoff-sZ5zbZMAYJs-unsplash_1133.jpg 1133w, https://assets.henrygd.me/bp/images/joshua-sukoff-sZ5zbZMAYJs-unsplash.jpg 1667w"
                      data-thumb="https://assets.henrygd.me/bp/images/joshua-sukoff-sZ5zbZMAYJs-unsplash_thumb.jpg"
                      data-height="2500"
                      data-width="1667"
                      data-alt="Antelope Canyon"
                      data-caption="Antelope Canyon"
                    >
                      <img
                        src="https://assets.henrygd.me/bp/images/joshua-sukoff-sZ5zbZMAYJs-unsplash_thumb.jpg"
                        alt="Antelope Canyon"
                      />
                    </a>
                    <a
                      href="https://assets.henrygd.me/bp/images/daniel-sessler-5El_7dJ0kKo-unsplash.jpg"
                      data-img="https://assets.henrygd.me/bp/images/daniel-sessler-5El_7dJ0kKo-unsplash_1500.jpg 1500w, https://assets.henrygd.me/bp/images/daniel-sessler-5El_7dJ0kKo-unsplash.jpg 2400w"
                      data-thumb="https://assets.henrygd.me/bp/images/daniel-sessler-5El_7dJ0kKo-unsplash_thumb.jpg"
                      data-height="2400"
                      data-width="2400"
                      data-alt="brown and white mountain under gray sky"
                    >
                      <img
                        src="https://assets.henrygd.me/bp/images/daniel-sessler-5El_7dJ0kKo-unsplash_thumb.jpg"
                        alt="brown and white mountain under gray sky"
                      />
                    </a>
                    <a
                      href="https://assets.henrygd.me/bp/images/janko-ferlic-SDivo1PTBDs-unsplash.jpg"
                      data-img="https://assets.henrygd.me/bp/images/janko-ferlic-SDivo1PTBDs-unsplash_1800.jpg 1800w, https://assets.henrygd.me/bp/images/janko-ferlic-SDivo1PTBDs-unsplash.jpg 3000w"
                      data-thumb="https://assets.henrygd.me/bp/images/janko-ferlic-SDivo1PTBDs-unsplash_thumb.jpg"
                      data-height="2000"
                      data-width="3000"
                      data-alt="wildlife photography of brown bear cub"
                    >
                      <img
                        src="https://assets.henrygd.me/bp/images/janko-ferlic-SDivo1PTBDs-unsplash_thumb.jpg"
                        alt="wildlife photography of brown bear cub"
                      />
                    </a>
                    <a
                      href="https://assets.henrygd.me/bp/images/corey-agopian-5y4ljzRrDFA-unsplash.jpg"
                      data-img="https://assets.henrygd.me/bp/images/corey-agopian-5y4ljzRrDFA-unsplash_1800.jpg 1800w, https://assets.henrygd.me/bp/images/corey-agopian-5y4ljzRrDFA-unsplash.jpg 3000w"
                      data-thumb="https://assets.henrygd.me/bp/images/corey-agopian-5y4ljzRrDFA-unsplash_thumb.jpg"
                      data-height="2000"
                      data-width="3000"
                      data-alt="green-and-brown palm trees under clear blue sky"
                    >
                      <img
                        src="https://assets.henrygd.me/bp/images/corey-agopian-5y4ljzRrDFA-unsplash_thumb.jpg"
                        alt="green-and-brown palm trees under clear blue sky"
                      />
                    </a>
                    <a
                      href="https://assets.henrygd.me/bp/images/andrew-pons-lylCw4zcA7I-unsplash.jpg"
                      data-img="https://assets.henrygd.me/bp/images/andrew-pons-lylCw4zcA7I-unsplash_1133.jpg 1133w, https://assets.henrygd.me/bp/images/andrew-pons-lylCw4zcA7I-unsplash.jpg 1667w"
                      data-thumb="https://assets.henrygd.me/bp/images/andrew-pons-lylCw4zcA7I-unsplash_thumb.jpg"
                      data-height="2500"
                      data-width="1667"
                      data-alt="close up of a yellow and blue macaw"
                    >
                      <img
                        src="https://assets.henrygd.me/bp/images/andrew-pons-lylCw4zcA7I-unsplash_thumb.jpg"
                        alt="close up of a yellow and blue macaw"
                      />
                    </a>
                    <a
                      href="https://assets.henrygd.me/bp/images/veeterzy-EYcvA56gSjU.jpg"
                      data-img="https://assets.henrygd.me/bp/images/veeterzy-EYcvA56gSjU_1500.jpg 1500w, https://assets.henrygd.me/bp/images/veeterzy-EYcvA56gSjU.jpg 2400w"
                      data-thumb="https://assets.henrygd.me/bp/images/veeterzy-EYcvA56gSjU_thumb.jpg"
                      data-height="2400"
                      data-width="2400"
                      data-alt="mountains clouded in purple fog"
                    >
                      <img
                        src="https://assets.henrygd.me/bp/images/veeterzy-EYcvA56gSjU_thumb.jpg"
                        alt="mountains clouded in purple fog"
                      />
                    </a>
                    <a
                      href="https://assets.henrygd.me/bp/images/harshil-gudka-9GptkQwAAsc-unsplash.jpg"
                      data-img="https://assets.henrygd.me/bp/images/harshil-gudka-9GptkQwAAsc-unsplash_1500.jpg 1500w, https://assets.henrygd.me/bp/images/harshil-gudka-9GptkQwAAsc-unsplash.jpg 2400w"
                      data-thumb="https://assets.henrygd.me/bp/images/harshil-gudka-9GptkQwAAsc-unsplash_thumb.jpg"
                      data-height="2400"
                      data-width="2400"
                      data-alt="three brown leopards hiding on grass field during daytime"
                    >
                      <img
                        src="https://assets.henrygd.me/bp/images/harshil-gudka-9GptkQwAAsc-unsplash_thumb.jpg"
                        alt="three brown leopards hiding on grass field during daytime"
                      />
                    </a>
                    <a
                      href="https://assets.henrygd.me/bp/images/andrew-svk-REwZEYzw19g-unsplash.jpg"
                      data-img="https://assets.henrygd.me/bp/images/andrew-svk-REwZEYzw19g-unsplash_1800.jpg 1800w, https://assets.henrygd.me/bp/images/andrew-svk-REwZEYzw19g-unsplash.jpg 3000w"
                      data-thumb="https://assets.henrygd.me/bp/images/andrew-svk-REwZEYzw19g-unsplash_thumb.jpg"
                      data-height="2000"
                      data-width="3000"
                      data-alt="people stand under unique trees on socotra"
                    >
                      <img
                        src="https://assets.henrygd.me/bp/images/andrew-svk-REwZEYzw19g-unsplash_thumb.jpg"
                        alt="people stand under unique trees on socotra"
                      />
                    </a>
                    <a
                      href="https://assets.henrygd.me/bp/images/johannes-andersson-UCd78vfC8vU-unsplash.jpg"
                      data-img="https://assets.henrygd.me/bp/images/johannes-andersson-UCd78vfC8vU-unsplash_1133.jpg 1133w, https://assets.henrygd.me/bp/images/johannes-andersson-UCd78vfC8vU-unsplash.jpg 1667w"
                      data-thumb="https://assets.henrygd.me/bp/images/johannes-andersson-UCd78vfC8vU-unsplash_thumb.jpg"
                      data-height="2500"
                      data-width="1667"
                      data-alt="two brown deer beside trees and mountain"
                    >
                      <img
                        src="https://assets.henrygd.me/bp/images/johannes-andersson-UCd78vfC8vU-unsplash_thumb.jpg"
                        alt="two brown deer beside trees and mountain"
                      />
                    </a>
                  </div>
               
                <p>
                    Debater o <mark>financiamento voltado para a retomada do transporte de passageiros por linhas
                        férreas</mark>, tanto os com características turísticas quanto os de caráter regular. Esse é o
                    objetivo da audiência pública que a Comissão Extraordinária Pró-Ferrovias Mineiras realiza nesta
                    quinta-feira (24/3/22), a partir das 10 horas, no Auditório do andar SE da Assembleia Legislativa de
                    Minas Gerais (ALMG).
                </p>
                <div class="position-relative text-center">
                    <button class="d-inline-flex btn btn-secondary btn-hover-arrow btn-lg align-items-center my-4"><a
                            href="#!" class="text-white">
                            <span class="">Acompanhe a reunião ao vivo e participe do debate</span></a>
                    </button>
                </div>
                <!--/.section Call to action end-->
                <p>A audiência atende a requerimento assinado por três deputados que integram a Comissão Pró-Ferrovias:
                    seu presidente e vice, respectivamente João Leite (PSDB) e Gustavo Mitre (PSC), e Coronel Henrique
                    (PSL).
                </p>

                <blockquote
                    class="blockquote mx-0 mx-xl-n15 rounded-3 rounded-0 px-4 px-lg-6 py-4 py-lg-6 bg-white shadow-lg border-primary border-start border-3 my-6">
                    <h2 class="mb-4 fw-semibold">
                        “Teremos a oportunidade de conhecer as propostas para o transporte ferroviário de passageiros em
                        Minas Gerais. Além de ser muito seguro, ele não sofre as interferências de cruzamentos de vias,
                        tornando a viagem mais rápida e confortável"
                    </h2>

                    <figcaption class="d-flex align-items-center justify-content-center text-start">
                        <div class="position-relative me-4">
                            <!--Avatar Image-->
                            <a href="#"><img
                                    class="lazyload position-relative avatar xl rounded-circle border border-2 border-white shadow"
                                    src="../assets/img/1200x600/7766.jpg"
                                    alt="Deputado João Leite"></a>
                        </div>
                        <div class="mb-0 fs-6">Deputado João Leite</div>
                    </figcaption>
                </blockquote>
                <p>
                    Segundo o parlamentar, a <strong>Secretaria de Estado de Infraestrutura e Mobilidade (Seinfra)
                        apresentará na audiência os planos do Poder Executivo estadual para o transporte regional e
                        turístico</strong> previsto no Plano Estratégico Ferroviário, como, por exemplo, um projeto da
                    Sociedade Mineira de Engenheiros para a ligação de Divinópolis (Centro-Oeste) a Sete Lagoas (Região
                    Central), com uma estação de <strong>integração para acesso à futura Arena MRV e ao Aeroporto de
                        Confins</strong>, na Região Metropolitana de Belo Horizonte (RMBH).
                </p>

                <h3 class="my-4">Plano</h3>
                <p>
                    Uma das convidadas da audiência desta quinta (24) é a superintendente de Transporte Ferroviário da
                    Seinfra, Vânia Silveira de Pádua Cardoso. “A elaboração de projetos para o impulso do transporte de
                    passageiros será a próxima meta do Governo do Estado dentro do Plano”, afirmou ela, em outra
                    audiência da comissão, realizada no último dia 10.
                </p>

                <!--Call to action-->
                <section class="position-relative mx-0 mx-xl-n15 my-4 bg-gray-100 d-none d-xl-flex mb-4">
                    <div class="container position-relative z-index-1 py-6">
                        <div class="d-md-flex justify-content-center align-items-center">
                            <div class="mb-4 mb-md-0 me-md-5 me-lg-6 me-xl-7">
                                <!--Heading-->
                                <h4 class="mb-0 h5">Novos portos secos podem melhorar logística de transporte</h4>
                            </div>
                            <!--Action-->
                            <a class="btn btn-gray-800 btn-hover-arrow text-white" href="#">
                                <span>Saiba Mais</span>
                            </a>
                        </div>
                    </div>
                </section>
                <!--/.section Call to action end-->


                <p>
                    Na ocasião, foi apresentada uma pesquisa sobre a necessidade de ampliar os portos secos e de
                    incrementar a malha ferroviária no Estado. Outro estudo também citado na reunião, em desenvolvimento
                    pela Fundação Dom Cabral e o Governo do Estado, servirá de base para a elaboração do Plano
                    Estratégico, visando justamente a ampliação da malha ferroviária mineira.
                </p>
                <p>
                    No primeiro caso, a pesquisa foi apresentada pelo professor e pesquisador do Instituto de
                    Geociências da Escola de Engenharia da Universidade Federal de Minas Gerais (UFMG), Rodrigo Affonso
                    de Albuquerque Nóbrega, que também voltará a participar do debate da Comissão Pró-Ferrovias nesta
                    quinta.
                </p>
                <h3 class="my-4">Histórico</h3>
                <p>
                    O tema em discussão nessa próxima audiência, <mark>a garantia de financiamento para o transporte
                        ferroviário de passageiros, é um dos pilares de atuação da Comissão Pró-Ferrovias,</mark> que
                    está em seu terceiro período de funcionamento. Ela atuou em 2018 e, depois, já na 19ª Legislatura,
                    também trabalhou entre 2019 e 2020. O período atual começou em junho do ano passado. </p>
                <p>
                    <strong>Uma das conquistas da comissão até aqui foi a criação da Superintendência de Transporte
                        Ferroviário pelo Governo do Estado</strong>, a partir de uma emenda apresentada pela Comissão
                    Pró-Ferrovias ao Plano Plurianual de Ação Governamental (PPAG).
                </p>


                <p>

                    Entre as normas aprovadas desde que a comissão começou a atuar, estão a <a href="#">Lei 23.230, de
                        2019</a>, que reconhece como de relevante interesse cultural do Estado as linhas e os ramais
                    ferroviários existentes em Minas, e a <a href="#">Lei 23.748, de 2020,</a> que <strong>institui a
                        Política de Transporte sobre Trilhos no Estado. </strong> </p>
                <p>
                    Também foi promulgada a <a href="#">Emenda à Constituição 105, de 2020,</a> que cria as modalidades
                    de autorização e permissão para exploração do transporte ferroviário, a fim de favorecer uma
                    ampliação dos investimentos privados no setor. </p>

                <h3 class="my-4">Convidados</h3>
                <p>
                    Entre os demais convidados para a audiência pública, estão representantes do Ministério do Turismo,
                    do Departamento Nacional de Infraestrutura de Transportes (Dnit) e da Agência Nacional de
                    Transportes Terrestres (ANTT). </p>
                <p>
                    Também foram chamados representantes da Federação das Indústrias do Estado de Minas Gerais (Fiemg),
                    do Conselho Regional de Engenharia e Agronomia de Minas Gerais (Crea-MG), da Sociedade Mineira de
                    Engenheiros e da Associação Mineira de Municípios (AMM). </p>
                <p>
                    Foram convidados, ainda, especialistas do setor. Além do professor Rodrigo, esse é o caso de Janaina
                    Soares Silva Pereira França, técnica especializada em Políticas Públicas e Gestão Governamental e
                    Assessora da Diretoria de Ciência, Tecnologia e Inovação da Fundação de Amparo à Pesquisa do Estado
                    de Minas Gerais (Fapemig). </p>
                <p>
                    Por fim, foram chamados representantes de entidades em defesa do setor ferroviário do Estado, como
                    do Circuito Ferroviário Vale Verde, do Circuito Turístico Serras de Minas e da ONG Trem. </p>


                <!--Avatar group default-->
                <div class="mb-0 mt-5 pb-3 fw-bold">
                    Deputados mencionados:
                </div>
                <div class="avatar-group">
                    <!--Avatar group item-->
                    <div class="" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Dep. João Leite">
                        <a href="#"><img src="../assets/img/1200x600/7766.jpg" alt="Deputado João Leite" class="lazyload position-relative avatar xl rounded-circle border border-2 border-white shadow me-2"></a>
                    </div>

                    <!--Avatar group item-->
                    <div class=""  type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Dep. Gustavo Mitre">
                        <a href="#"><img src="../assets/img/1200x600/26135.jpg" alt="Deputado Gustavo Mitre" class="lazyload position-relative avatar xl rounded-circle border border-2 border-white shadow me-2"></a>
                    </div>

                    <!--Avatar group item-->
                    <div class="" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Dep. Coronel Henrique">
                        <a href="#"><img src="../assets/img/1200x600/26149.jpg" alt="Deputado Coronel Henrique" class="lazyload position-relative avatar xl rounded-circle border border-2 border-white shadow"></a>
                    </div>
                </div>

                <div class="h5 my-4">
                    <div class="mb-0 pb-3 fs-6 fw-bold">
                        Tópicos:
                    </div>
                    <span class="badge badge-pill bg-gray-550">Transporte e trânsito</span>
                    <span class="badge badge-pill bg-gray-550">Região Central</span>
                    <span class="badge badge-pill bg-gray-550">RMBH</span>
                </div>
            </article>
            <!--/.article-->
        </div>
    </div>
</div>