<div class="container my-4 my-lg-8">
    <div class="row">
        <div class="col-xl-7 mx-auto">

            <article class="article mb-4">
                @@include('../share/almg-share.html')
                <div>
                    <span class="h6 text-muted">Comissão das Ferrovias </span>
                </div>
                <h1 class="mb-4 ls--2">Transporte ferroviário de passageiros será tema de audiência
                </h1>
                <p class="lead mb-4">
                    Debate desta quinta (24) da Comissão das Ferrovias focará no financiamento tanto de linhas
                    turísticas quanto regulares.
                </p>
                <small class="mb-6 d-block">23/03/2022 | Atualizado em 23/03/2022, às 12h10</small>

                <!--Carrossel de imagens-->
                <div id="carouselExampleControls" class="carousel slide mx-0 mx-xl-n15 pb-6 " data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <img src="../assets/img/1200x600/imagem1.jpg" class="d-block w-100" alt="...">
                            <div class="position-absolute bottom-0 w-100">
                                <ul class="text-white list-unstyled carousel-layers mb-0">
                                    <li data-carousel-layer="fade-end">
                                        <h2 class="bg-gray-600 bg-opacity-75 px-2 py-3 lh-1 mb-0 fs-6">Os estudos em
                                            andamento no governo para garantir o financiamento do transporte ferroviário
                                            de passageiros devem ser apresentados na audiência.</h2>
                                    </li>
                                    <li data-carousel-layer="fade-start">
                                        <small
                                            class="mb-0 d-block bg-gray-200 bg-opacity-75 text-dark px-2 py-2 lh-1">Arquivo
                                            ALMG - Foto: Sarah Torres</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/img/1200x600/imagem2.jpg" class="d-block w-100" alt="...">
                            <div class="position-absolute bottom-0 w-100">
                                <ul class="text-white list-unstyled carousel-layers mb-0">
                                    <li data-carousel-layer="fade-end">
                                        <h2 class="bg-gray-600 bg-opacity-75 px-2 py-3 lh-1 mb-0 fs-6">Viagem no Trem
                                            BH-Vitória - Trecho Belo Horizonte-Barão dos Cocais. Embarque. Trens.</h2>
                                    </li>
                                    <li data-carousel-layer="fade-start">
                                        <small
                                            class="mb-0 d-block bg-gray-200 bg-opacity-75 text-dark px-2 py-2 lh-1">Arquivo
                                            ALMG - Foto: Sarah Torres</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/img/1200x600/imagem3.jpg" class="d-block w-100" alt="...">
                            <div class="position-absolute bottom-0 w-100">
                                <ul class="text-white list-unstyled carousel-layers mb-0">
                                    <li data-carousel-layer="fade-end">
                                        <h2 class="bg-gray-600 bg-opacity-75 px-2 py-3 lh-1 mb-0 fs-6">Viagem no Trem
                                            BH-Vitória - Trecho Belo Horizonte-Barão dos Cocais. Trens.</h2>
                                    </li>
                                    <li data-carousel-layer="fade-start">
                                        <small
                                            class="mb-0 d-block bg-gray-200 bg-opacity-75 text-dark px-2 py-2 lh-1">Arquivo
                                            ALMG - Foto: Sarah Transportes</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/img/1200x600/imagem4.jpg" class="d-block w-100" alt="...">
                            <div class="position-absolute bottom-0 w-100">
                                <ul class="text-white list-unstyled carousel-layers mb-0">
                                    <li data-carousel-layer="fade-end">
                                        <h2 class="bg-gray-600 bg-opacity-75 px-2 py-3 lh-1 mb-0 fs-6">Anderson Fernando
                                            (chefe do trem) - Viagem no Trem BH-Vitória - Trecho Belo Horizonte-Barão
                                            dos Cocais.</h2>
                                    </li>
                                    <li data-carousel-layer="fade-start">
                                        <small
                                            class="mb-0 d-block bg-gray-200 bg-opacity-75 text-dark px-2 py-2 lh-1">Arquivo
                                            ALMG - Foto: Sarah Torres</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/img/1200x600/imagem5.jpg" class="d-block w-100" alt="...">
                            <div class="position-absolute bottom-0 w-100">
                                <ul class="text-white list-unstyled carousel-layers mb-0">
                                    <li data-carousel-layer="fade-end">
                                        <h2 class="bg-gray-600 bg-opacity-75 px-2 py-3 lh-1 mb-0 fs-6">Embarque de
                                            passageiros na lateral do trem.</h2>
                                    </li>
                                    <li data-carousel-layer="fade-start">
                                        <small
                                            class="mb-0 d-block bg-gray-200 bg-opacity-75 text-dark px-2 py-2 lh-1">Arquivo
                                            ALMG - Foto: Sarah Torres</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/img/1200x600/imagem6.jpg" class="d-block w-100" alt="...">
                            <div class="position-absolute bottom-0 w-100">
                                <ul class="text-white list-unstyled carousel-layers mb-0">
                                    <li data-carousel-layer="fade-end">
                                        <h2 class="bg-gray-600 bg-opacity-75 px-2 py-3 lh-1 mb-0 fs-6">Atendimento e
                                            venda de lanches durante a viagem</h2>
                                    </li>
                                    <li data-carousel-layer="fade-start">
                                        <small
                                            class="mb-0 d-block bg-gray-200 bg-opacity-75 text-dark px-2 py-2 lh-1">Arquivo
                                            ALMG - Foto: Sarah Torres</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/img/1200x600/imagem7.jpg" class="d-block w-100" alt="...">
                            <div class="position-absolute bottom-0 w-100">
                                <ul class="text-white list-unstyled carousel-layers mb-0">
                                    <li data-carousel-layer="fade-end">
                                        <h2 class="bg-gray-600 bg-opacity-75 px-2 py-3 lh-1 mb-0 fs-6">Vagão restaurante
                                            durante viagem com passageiros</h2>
                                    </li>
                                    <li data-carousel-layer="fade-start">
                                        <small
                                            class="mb-0 d-block bg-gray-200 bg-opacity-75 text-dark px-2 py-2 lh-1">Arquivo
                                            ALMG - Foto: Sarah Torres</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <img src="../assets/img/1200x600/imagem8.jpg" class="d-block w-100"
                                alt="Imagem de interior de cabine ferroviária">
                            <div class="position-absolute bottom-0 w-100">
                                <ul class="text-white list-unstyled carousel-layers mb-0">
                                    <li data-carousel-layer="fade-end">
                                        <h2 class="bg-gray-600 bg-opacity-75 px-2 py-3 lh-1 mb-0 fs-6">Detalhe do
                                            cardápio em vagão restaurante durante viagem com passageiros</h2>
                                    </li>
                                    <li data-carousel-layer="fade-start">
                                        <small
                                            class="mb-0 d-block bg-gray-200 bg-opacity-75 text-dark px-2 py-2 lh-1">Arquivo
                                            ALMG - Foto: Sarah Torres</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev width-3x height-3x bg-dark text-white top-50 translate-middle-y"
                        type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button
                        class="carousel-control-next width-3x height-3x bg-dark text-white top-50 translate-middle-y"
                        type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
                <!--Fim do carrossel de imagens-->

                <p>
                    Debater o <mark>financiamento voltado para a retomada do transporte de passageiros por linhas
                        férreas</mark>, tanto os com características turísticas quanto os de caráter regular. Esse é o
                    objetivo da audiência pública que a Comissão Extraordinária Pró-Ferrovias Mineiras realiza nesta
                    quinta-feira (24/3/22), a partir das 10 horas, no Auditório do andar SE da Assembleia Legislativa de
                    Minas Gerais (ALMG).
                </p>
                <div class="position-relative text-center">
                    <button class="d-inline-flex btn btn-secondary btn-hover-arrow btn-lg align-items-center my-4"><a
                            href="#!" class="text-white">
                            <span class="">Acompanhe a reunião ao vivo e participe do debate</span></a>
                    </button>
                </div>
                <!--/.section Call to action end-->
                <p>A audiência atende a requerimento assinado por três deputados que integram a Comissão Pró-Ferrovias:
                    seu presidente e vice, respectivamente João Leite (PSDB) e Gustavo Mitre (PSC), e Coronel Henrique
                    (PSL).
                </p>

                <blockquote
                    class="blockquote mx-0 mx-xl-n15 rounded-3 rounded-0 px-4 px-lg-6 py-4 py-lg-6 bg-white shadow-lg border-primary border-start border-3 my-6">
                    <h2 class="mb-4 fw-semibold">
                        “Teremos a oportunidade de conhecer as propostas para o transporte ferroviário de passageiros em
                        Minas Gerais. Além de ser muito seguro, ele não sofre as interferências de cruzamentos de vias,
                        tornando a viagem mais rápida e confortável"
                    </h2>

                    <figcaption class="d-flex align-items-center justify-content-center text-start">
                        <div class="position-relative me-4">
                            <!--Avatar Image-->
                            <a href="#"><img
                                    class="position-relative avatar xl rounded-circle border border-2 border-white shadow"
                                    src="../assets/img/1200x600/7766.jpg"
                                    alt="Deputado João Leite"></a>
                        </div>
                        <div class="mb-0 fs-6">Deputado João Leite</div>
                    </figcaption>
                </blockquote>
                <p>
                    Segundo o parlamentar, a <strong>Secretaria de Estado de Infraestrutura e Mobilidade (Seinfra)
                        apresentará na audiência os planos do Poder Executivo estadual para o transporte regional e
                        turístico</strong> previsto no Plano Estratégico Ferroviário, como, por exemplo, um projeto da
                    Sociedade Mineira de Engenheiros para a ligação de Divinópolis (Centro-Oeste) a Sete Lagoas (Região
                    Central), com uma estação de <strong>integração para acesso à futura Arena MRV e ao Aeroporto de
                        Confins</strong>, na Região Metropolitana de Belo Horizonte (RMBH).
                </p>

                <h4 class="my-4">Plano</h4>
                <p>
                    Uma das convidadas da audiência desta quinta (24) é a superintendente de Transporte Ferroviário da
                    Seinfra, Vânia Silveira de Pádua Cardoso. “A elaboração de projetos para o impulso do transporte de
                    passageiros será a próxima meta do Governo do Estado dentro do Plano”, afirmou ela, em outra
                    audiência da comissão, realizada no último dia 10.
                </p>

                <!--Call to action-->
                <section class="position-relative mx-0 mx-xl-n15 my-4 bg-gray-100 d-none d-xl-flex mb-4">
                    <div class="container position-relative z-index-1 py-6">
                        <div class="d-md-flex justify-content-center align-items-center">
                            <div class="mb-4 mb-md-0 me-md-5 me-lg-6 me-xl-7">
                                <!--Heading-->
                                <h5 class="mb-0">Novos portos secos podem melhorar logística de transporte</h5>
                            </div>
                            <!--Action-->
                            <a class="btn btn-gray-800 btn-hover-arrow text-white" href="#">
                                <span>Saiba Mais</span>
                            </a>
                        </div>
                    </div>
                </section>
                <!--/.section Call to action end-->


                <p>
                    Na ocasião, foi apresentada uma pesquisa sobre a necessidade de ampliar os portos secos e de
                    incrementar a malha ferroviária no Estado. Outro estudo também citado na reunião, em desenvolvimento
                    pela Fundação Dom Cabral e o Governo do Estado, servirá de base para a elaboração do Plano
                    Estratégico, visando justamente a ampliação da malha ferroviária mineira.
                </p>
                <p>
                    No primeiro caso, a pesquisa foi apresentada pelo professor e pesquisador do Instituto de
                    Geociências da Escola de Engenharia da Universidade Federal de Minas Gerais (UFMG), Rodrigo Affonso
                    de Albuquerque Nóbrega, que também voltará a participar do debate da Comissão Pró-Ferrovias nesta
                    quinta.
                </p>
                <h4 class="my-4">Histórico</h4>
                <p>
                    O tema em discussão nessa próxima audiência, <mark>a garantia de financiamento para o transporte
                        ferroviário de passageiros, é um dos pilares de atuação da Comissão Pró-Ferrovias,</mark> que
                    está em seu terceiro período de funcionamento. Ela atuou em 2018 e, depois, já na 19ª Legislatura,
                    também trabalhou entre 2019 e 2020. O período atual começou em junho do ano passado. </p>
                <p>
                    <strong>Uma das conquistas da comissão até aqui foi a criação da Superintendência de Transporte
                        Ferroviário pelo Governo do Estado</strong>, a partir de uma emenda apresentada pela Comissão
                    Pró-Ferrovias ao Plano Plurianual de Ação Governamental (PPAG).
                </p>


                <p>

                    Entre as normas aprovadas desde que a comissão começou a atuar, estão a <a href="#">Lei 23.230, de
                        2019</a>, que reconhece como de relevante interesse cultural do Estado as linhas e os ramais
                    ferroviários existentes em Minas, e a <a href="#">Lei 23.748, de 2020,</a> que <strong>institui a
                        Política de Transporte sobre Trilhos no Estado. </strong> </p>
                <p>
                    Também foi promulgada a <a href="#">Emenda à Constituição 105, de 2020,</a> que cria as modalidades
                    de autorização e permissão para exploração do transporte ferroviário, a fim de favorecer uma
                    ampliação dos investimentos privados no setor. </p>

                <h4 class="my-4">Convidados</h4>
                <p>
                    Entre os demais convidados para a audiência pública, estão representantes do Ministério do Turismo,
                    do Departamento Nacional de Infraestrutura de Transportes (Dnit) e da Agência Nacional de
                    Transportes Terrestres (ANTT). </p>
                <p>
                    Também foram chamados representantes da Federação das Indústrias do Estado de Minas Gerais (Fiemg),
                    do Conselho Regional de Engenharia e Agronomia de Minas Gerais (Crea-MG), da Sociedade Mineira de
                    Engenheiros e da Associação Mineira de Municípios (AMM). </p>
                <p>
                    Foram convidados, ainda, especialistas do setor. Além do professor Rodrigo, esse é o caso de Janaina
                    Soares Silva Pereira França, técnica especializada em Políticas Públicas e Gestão Governamental e
                    Assessora da Diretoria de Ciência, Tecnologia e Inovação da Fundação de Amparo à Pesquisa do Estado
                    de Minas Gerais (Fapemig). </p>
                <p>
                    Por fim, foram chamados representantes de entidades em defesa do setor ferroviário do Estado, como
                    do Circuito Ferroviário Vale Verde, do Circuito Turístico Serras de Minas e da ONG Trem. </p>


                <!--Avatar group default-->
                <h6 class="mb-0 mt-5 pb-3">
                    Deputados mencionados:
                </h6>
                <div class="avatar-group">
                    <!--Avatar group item-->
                    <div class="" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Dep. João Leite">
                        <a href="#"><img src="../assets/img/1200x600/7766.jpg" alt="Deputado João Leite" class="position-relative avatar xl rounded-circle border border-2 border-white shadow me-2"></a>
                    </div>

                    <!--Avatar group item-->
                    <div class=""  type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Dep. Gustavo Mitre">
                        <a href="#"><img src="../assets/img/1200x600/26135.jpg" alt="Deputado Gustavo Mitre" class="position-relative avatar xl rounded-circle border border-2 border-white shadow me-2"></a>
                    </div>

                    <!--Avatar group item-->
                    <div class="" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Dep. Coronel Henrique">
                        <a href="#"><img src="../assets/img/1200x600/26149.jpg" alt="Deputado Coronel Henrique" class="position-relative avatar xl rounded-circle border border-2 border-white shadow"></a>
                    </div>
                </div>

                <div class="h5 my-4">
                    <h6 class="mb-0 pb-3">
                        Tópicos:
                    </h6>
                    <span class="badge badge-pill bg-gray-500">Transporte e trânsito</span>
                    <span class="badge badge-pill bg-gray-500">Região Central</span>
                    <span class="badge badge-pill bg-gray-500">RMBH</span>
                </div>
            </article>
            <!--/.article-->
        </div>
    </div>
</div>