<div class="container my-4 my-lg-8">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <article class="article mb-4">
                @@include('../share/almg-share.html')
                <p>Para disponibilizar mais informações sobre o ciclo orçamentário 
                    do Estado e seus instrumentos, a Assembleia de Minas disponibiliza 
                    o curso a distância Planejamento e Orçamento Público. As inscrições 
                    são gratuitas.</p>

            </article>

            <!--/.article-->
                        
                        
 
 
            <!--Card-->
            <div class="card align-items-md-center rounded-0 shadow-lg flex-md-row flex-column overflow-hidden
             border-0 bg-white">
               <div class="col-md-6">
                   <!--Image-->
                   <img src="../../../public/assets/img/1200x600/close-up-education-economy-objects.jpg" alt="" class="img-fluid">
               </div>
               <div class="card-body h-100 p-4 px-lg-6 py-lg-6 flex-grow-1">
                   <p class="fs-4 mb-4">
                       Planejamento e Orçamento Público
                   
                   <div class="mb-5">
                       <h5 class="mb-2">De 20/9 a 15/12/21</h5>
                       <small class="d-block lh-1 text-muted"> na plataforma EAD</small>
                   </div>
                   <a href="#" class="btn btn-outline-secondary btn-hover-arrow">
                       <span>Inscreva-se</span>
                   </a>
               </div>
           </div>
        
        



        </div>
    </div>
</div>