<section class="position-relative jarallax bg-light border-top border-top-lg-0" data-jarallax=".3">
    <div class="container py-6">
        <div class="row align-items-center" style="height: 25vh!important;">
            <div class="col-12">
                <h1 class="text-white bg-primary d-inline-block px-3 py-2 text-uppercase">PPAG 2020/2023</h1><br />
                <h2 class="h1 text-white bg-primary d-inline-block  px-3 py-2 text-uppercase">Discussão Participativa</h2>
            </div>
        </div>
    </div>

    <div id="jarallax-container-0">
        <img src="https://mediaserver.almg.gov.br/acervo/593/682/1593682.jpg" alt=""
            class="jarallax-img img-fluid"/>
    </div>
</section>