<div class="container my-4 my-lg-8">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <article class="article mb-4">
                @@include('../share/almg-share.html')
                <h2 class="mb-4">Entenda</h2>
                <div class="row">
                    <div class="col-md-4">
                        <!-- Tabs -->
                        <nav class="mb-4">
                            <div class="nav nav-pills nav-tabs-vertical" role="tablist">
                                <a class="nav-link rounded-0 border-bottom active" data-bs-toggle="tab" href="#tab-home" role="tab"
                                    aria-selected="true">PPAG na Pandemia</a>
                                <a class="nav-link rounded-0 border-bottom" data-bs-toggle="tab" href="#tab-sistema" role="tab"
                                    aria-selected="false"> O sistema de planejamento e orçamento</a>
                                <a class="nav-link rounded-0 border-bottom" data-bs-toggle="tab" href="#tab-participacao" role="tab"
                                    aria-selected="false"> O PPAG e a participação popular</a>
                                <a class="nav-link rounded-0 border-bottom" data-bs-toggle="tab" href="#tab-sugestoes" role="tab"
                                    aria-selected="false"> O que é feito com as sugestões apresentadas pela
                                    população?</a>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-8 col-lg-7  ms-lg-auto">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="tab-home" role="tabpanel">
                                <p> Desde o início das restrições sanitárias impostas pela disseminação
                                    da <mark>pandemia de Covid-19,</mark> a Assembleia de Minas adotou um
                                    conjunto de
                                    medidas de segurança para adequação de seu funcionamento, para garantir
                                    o exercício de suas funções constitucionais e, ao mesmo tempo, preservar
                                    a integridade e a saúde de todos.</p>

                                <p>Por esse motivo, a Discussão Participativa do Plano Plurianual de Ação
                                    Governamental (PPAG) também precisou ser adaptada. Da mesma maneira
                                    como foi feito no ano passado, o processo participativo em 2021 será
                                    realizado de <mark>forma virtual</mark> por meio de duas frentes de
                                    trabalho:</p>
                                <ul>
                                    <li><a href="#">Consulta pública</a> temática, pelo Portal da
                                        Assembleia, aberta a todos os interessados.</li>
                                    <li><a href="#">Encontros on-line</a> com entidades da sociedade
                                        civil convidadas.</li>
                                </ul>

                                <h6>Consulte:</h6>
                                <ul>
                                    <li><a href="#">Projeto de Lei (PL) 3.191/21</a>, que contém o
                                        Orçamento do Estado para 2022</li>
                                    <li><a href="#">Projeto de Lei (PL) 3.192/21</a>, que contém a
                                        revisão do PPAG para 2022</li>
                                </ul>

                            </div>
                            <div class="tab-pane fade" id="tab-sistema" role="tabpanel">
                                <p>O sistema de planejamento e orçamento é o conjunto das leis, previstas
                                    pela Constituição Federal e pela Constituição Estadual, que compõem o
                                    Orçamento Público. Por meio dessas leis, o governo define como pretende
                                    gastar o dinheiro arrecadado por meio de tributos pagos pela sociedade
                                    e de outras fontes de receita.</p>

                                <p>O Poder Executivo encaminha à Assembleia de Minas quatro projetos
                                    referentes
                                    ao planejamento e orçamento públicos que, depois de aprovados pelos
                                    deputados
                                    e sancionados pelo governador, tornam-se leis:</p>
                                <ul>
                                    <li>Plano Mineiro de Desenvolvimento Integrado (PMDI)<br />
                                        <a href="#">Consulte a Lei 23.577, de 2020 - PMDI em vigor</a>
                                    </li>
                                    <li>Plano Plurianual de Ação Governamental (PPAG)<br />
                                        <a href="#">Consulte a Lei 23.578, de 2020 - PPAG em vigor</a>
                                    </li>
                                    <li>Lei de Diretrizes Orçamentárias (LDO)<br />
                                        <a href="#">Consulte a Lei 23.831, de 2021 - LDO em vigor</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="tab-participacao" role="tabpanel">
                                <p>O Plano Plurianual de Ação Governamental (PPAG) é o <mark>planejamento
                                        da atuação do Estado para um período de quatro anos</mark>, sendo
                                    revisto
                                    anualmente para adequá-lo ao Orçamento do próximo ano.
                                </p>
                                <p>Essa revisão do Poder Executivo é enviada obrigatoriamente à
                                    Assembleia de Minas, até 30 de setembro de cada ano, para
                                    análise e discussão pelos deputados e deputadas.
                                </p>
                                <p>Por conter informações que deixam claro em <mark>que, como, onde,
                                        quando e com qual objetivo</mark> o Estado pretende investir os
                                    recursos públicos, o PPAG torna-se uma peça fundamental para
                                    que a população discuta e participe das decisões sobre o
                                    planejamento do Estado.
                                </p>
                                <p>Por isso, a ALMG, por meio das Comissões de Participação Popular
                                    e de Fiscalização Financeira e Orçamentária, realiza, anualmente,
                                    processo de discussão participativa do Plano Plurianual, tanto em
                                    sua fase de elaboração, quanto nas revisões que o governo envia
                                    para o Parlamento.
                                </p>
                                <p>O objetivo da Assembleia é envolver os interessados na discussão do
                                    plano e na apresentação de sugestões para aprimorar o planejamento
                                    do Estado, por meio de atividades realizadas entre <mark>outubro e
                                        novembro
                                        de cada ano.</mark>
                                </p>
                            </div>

                            <div class="tab-pane fade" id="tab-sugestoes" role="tabpanel">
                                <p>Após o evento de discussão participativa do PPAG, todas as sugestões
                                    apresentadas são analisadas e discutidas na Assembleia. Elas podem
                                    virar:</p>
                                <ul>
                                    <li>
                                        <mark>Emendas</mark> ao projeto do Plano Plurianual e/ou ao projeto
                                        da Lei Orçamentária
                                        Anual (LOA).
                                    </li>
                                    <li>
                                        <mark>Requerimentos</mark> a serem enviados pela Assembleia com
                                        solicitação de informações
                                        ou providências ao poder público ou a entidades privadas.
                                    </li>
                                </ul>
                                <p>As sugestões passam pelo seguinte processo:</p>
                                <ul>
                                    <li>
                                        <mark>Comissão de Participação Popular:</mark> análise e aglutinação
                                        das sugestões populares
                                        em Propostas de Ação Legislativa (PLEs), que podem concluir pela
                                        proposição de
                                        emendas ao PPAG e/ou Orçamento e/ou pelo envio de requerimentos (que
                                        também são
                                        apreciados pelas comissões temáticas) ao poder público ou a
                                        entidades privadas.
                                    </li>
                                    <li>
                                        <mark>Comissão de Fiscalização Financeira e Orçamentária:</mark>
                                        caso as sugestões resultem
                                        em emendas ao Plano Plurianual ou ao Orçamento, essa comissão fica
                                        responsável
                                        por analisá-las e votar parecer sobre elas, antes da apreciação pelo
                                        Plenário
                                        da Assembleia.
                                    </li>
                                    <li>
                                        <mark>Plenário:</mark> votação, em turno único, do projeto de lei do
                                        PPAG e do Orçamento.
                                    </li>
                                </ul>
                                <p>Após a aprovação do Orçamento e da Revisão do Plano Plurianual, a
                                    sociedade
                                    pode acompanhar os desdobramentos desse processo por meio de Boletins de
                                    Monitoramento das Sugestões Populares.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </article>
        </div>
    </div>
</div>