<div class="container my-4 my-lg-8">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <article class="article mb-4">
                @@include('../share/almg-share.html')
                <h1 class="mb-4 ls--2 h2">Lorem ipsum dolor
                </h1>
                <p class="lead mb-4">
                    Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                    soluta nobis.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Viverra nam libero justo laoreet. Suscipit adipiscing
                    bibendum est ultricies integer quis auctor elit. Mauris pellentesque pulvinar
                    pellentesque
                    habitant morbi. Sapien nec sagittis aliquam malesuada. Purus sit amet volutpat
                    consequat
                    mauris. Imperdiet sed euismod nisi porta lorem mollis. Risus quis varius quam
                    quisque id
                    diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Sit amet
                    massa
                    vitae tortor condimentum lacinia quis vel eros. Diam vel quam elementum pulvinar
                    etiam non.
                    Nisl rhoncus mattis rhoncus urna. Vel elit scelerisque mauris pellentesque. Molestie
                    a
                    iaculis at erat pellentesque adipiscing commodo elit at. Faucibus et molestie ac
                    feugiat sed
                    lectus vestibulum mattis ullamcorper.
                </p>
                <h4>Molestie a iaculis at erat</h4>
                <ul class="step mx-3 px-0 px-lg-15 mx-sm-0 list-unstyled mb-0 my-6">
                    <li class="step-item">
                        <div class="step-row">
                            <span class="step-icon bg-success text-white">
                                <!--ICON-DOT-->
                                <i class="bi bi-building align-middle lh-1 fs-4"></i>
                            </span>

                            <div class="step-content">
                                <div class="alert alert-success d-flex mb-0" role="alert">
                                    <i class="bi bi-calendar-check mt-1 me-4 fs-3"></i>
                                    <div class="">
                                        <h6 class="alert-heading">Lorem ipsum dolor sit amet</h6>
                                        <small class="d-block mb-2 ">25/11 14:30hs</small>
                                        <hr class="my-2">
                                        <p class="text-body mb-0">Molestie
                                            a
                                            iaculis at erat pellentesque adipiscing commodo elit at. Faucibus et
                                            molestie ac
                                            feugiat sed
                                            lectus vestibulum mattis ullamcorper.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                    <!--/.step-item-->
                    <li class="step-item">
                        <div class="step-row">
                            <span class="step-icon bg-gray-500 text-white">
                                <!--ICON-DOT-->
                                <i class="bi bi-chat-fill align-middle lh-1 fs-4"></i>
                            </span>

                            <div class="step-content">
                                <h6 class="mb-1">Lorem ipsum dolor sit amet</h6>
                                <small class="d-block mb-2 ">25/11 14:30hs</small>
                                <p class="mb-0">
                                    Imperdiet sed euismod nisi porta lorem mollis. Risus quis varius quam
                                    quisque id
                                    diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Sit amet
                                    massa
                                    vitae tortor condimentum lacinia quis vel eros. Diam vel quam elementum pulvinar
                                    etiam non.
                                </p>
                            </div>
                        </div>
                    </li>
                    <!--/.step-item-->
                    <li class="step-item">
                        <div class="step-row">
                            <span class="step-icon bg-gray-500 text-white">
                                <!--ICON-DOT-->
                                <i class="bi bi-check-circle-fill align-middle lh-1 fs-4"></i>
                            </span>

                            <div class="step-content">
                                <h6 class="mb-1">Lorem ipsum dolor sit amet</h6>
                                <small class="d-block mb-2 ">25/11 14:30hs</small>
                                <p class="mb-0">
                                    Imperdiet sed euismod nisi porta lorem mollis. Risus quis varius quam
                                    quisque id
                                    diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Sit amet
                                    massa
                                    vitae tortor condimentum lacinia quis vel eros. Diam vel quam elementum pulvinar
                                    etiam non.
                                </p>
                            </div>
                        </div>
                    </li>
                    <!--/.step-item-->
                </ul>

                <h4>Harum quidem rerum facilis</h4>
                <p>
                    Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                    soluta nobis
                    est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                    possimus,
                    omnis voluptas
                    assumenda est, omnis dolor repellendus.
                </p>
                <p>
                    Suscipit adipiscing bibendum est ultricies integer quis auctor elit. Mauris
                    pellentesque
                    pulvinar pellentesque habitant morbi. Sapien nec sagittis aliquam malesuada. Purus
                    sit amet
                    volutpat consequat mauris. <mark>Imperdiet sed euismod nisi porta lorem mollis. Risus quis
                    varius
                    quam quisque id diam</mark>. Habitasse platea dictumst vestibulum rhoncus est pellentesque
                    elit.
                    Sit amet massa vitae tortor condimentum lacinia quis vel eros. Diam vel quam
                    elementum
                    pulvinar etiam non. Nisl rhoncus mattis rhoncus urna. Vel elit scelerisque mauris
                    pellentesque. Molestie a iaculis at erat pellentesque adipiscing commodo elit at.
                    Faucibus
                    et molestie ac feugiat sed lectus vestibulum mattis ullamcorper.
                </p>
            </article>

            <!--/.article-->
        </div>
    </div>
</div>