<div class="container mb-4">
    <div class="row">
        <div class="col-xl-10 mx-auto">
            <article class="article mb-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Viverra nam libero justo laoreet. Suscipit adipiscing
                    bibendum est ultricies integer quis auctor elit. Mauris pellentesque pulvinar
                    pellentesque
                    habitant morbi. Sapien nec sagittis aliquam malesuada. Purus sit amet volutpat
                    consequat
                    mauris. Imperdiet sed euismod nisi porta lorem mollis. Risus quis varius quam
                    quisque id
                    diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Sit amet
                    massa
                    vitae tortor condimentum lacinia quis vel eros. Diam vel quam elementum pulvinar
                    etiam non.
                    Nisl rhoncus mattis rhoncus urna. Vel elit scelerisque mauris pellentesque. Molestie
                    a
                    iaculis at erat pellentesque adipiscing commodo elit at. Faucibus et molestie ac
                    feugiat sed
                    lectus vestibulum mattis ullamcorper.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Viverra nam libero justo laoreet. Suscipit adipiscing
                    bibendum est ultricies integer quis auctor elit. Mauris pellentesque pulvinar
                    pellentesque
                    habitant morbi. Sapien nec sagittis aliquam malesuada. Purus sit amet volutpat
                    consequat
                    mauris.
                </p>


            </article>

            <!--/.article-->
        </div>
    </div>
</div>

<div class="container py-4">
    <div class="row mb-4 align-items-end justify-content-between">
        <div class="col-md-7 mb-4 mb-lg-0">
            <!--Subheading-->
            <div>
                <span class="h6 mb-0 text-muted">Lorem Ipsum</span>
            </div>
            <h2 class="mb-0">Lorem ipsum dolor</h2>
        </div>
        <div class="col-12 col-md-3 text-lg-end">
            <a href="#!" class="btn btn-secondary btn-hover-arrow">
                <span>Lorem ipsum</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <article class="card card-hover hover-shadow-lg overflow-hidden border rounded-3 ">
                <div class="overflow-hidden position-relative">

                    <!--Article image-->
                    <img src="https://via.placeholder.com/1200x800" alt="" class="img-fluid">
                </div>
                <!--Content-body-->
                <div class="card-body pb-5 position-relative">
                    <small>12/12/2021</small>
                    <h5 class="pb-3 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                    <p class="mb-0">
                        Lorem ipsum dolor sit amet sed do eiusmod tempor labore et dolore magna aliqua.
                        Viverra nam libero justo laoreet.
                    </p>
                </div>

                <!--Article link-->
                <a href="#!" class="stretched-link"></a>
            </article>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <article class="card card-hover hover-shadow-lg overflow-hidden border rounded-3 ">
                <div class="overflow-hidden position-relative">

                    <!--Article image-->
                    <img src="https://via.placeholder.com/1200x800" alt="" class="img-fluid">
                </div>
                <!--Content-body-->
                <div class="card-body pb-5 position-relative">
                    <small>12/12/2021</small>
                    <h5 class="pb-3 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                    <p class="mb-0">
                        Lorem ipsum dolor sit amet sed do eiusmod tempor labore et dolore magna aliqua.
                        Viverra nam libero justo laoreet.
                    </p>
                </div>

                <!--Article link-->
                <a href="#!" class="stretched-link"></a>
            </article>
        </div>
        <div class="col-lg-4">
            <article class="card card-hover hover-shadow-lg overflow-hidden border rounded-3 ">
                <div class="overflow-hidden position-relative">

                    <!--Article image-->
                    <img src="https://via.placeholder.com/1200x800" alt="" class="img-fluid">
                </div>
                <!--Content-body-->
                <div class="card-body pb-5 position-relative">
                    <small>12/12/2021</small>
                    <h5 class="pb-3 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                    <p class="mb-0">
                        Lorem ipsum dolor sit amet sed do eiusmod tempor labore et dolore magna aliqua.
                        Viverra nam libero justo laoreet.
                    </p>
                </div>

                <!--Article link-->
                <a href="#!" class="stretched-link"></a>
            </article>
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <article class="article mb-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Viverra nam libero justo laoreet. Suscipit adipiscing
                    bibendum est ultricies integer quis auctor elit. Mauris pellentesque pulvinar
                    pellentesque
                    habitant morbi. Sapien nec sagittis aliquam malesuada. Purus sit amet volutpat
                    consequat
                    mauris.
                </p>


            </article>

            <!--/.article-->
        </div>
    </div>
</div>