<section>
    
    <div class="container-fluid container-lg px-xl-15 pt-0 pb-4 py-lg-6">
        <div class="position-absolute d-none d-xl-block" style="margin-top: 40px; margin-left: -100px;">
            <button class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block border-bottom" data-bs-toggle="modal" data-bs-target="#modal-share">
                <i class="bi bi-share-fill text-white"></i>
            </button>
            <a class="bg-gray-500 fs-4 px-2 py-1 d-block border-bottom" href="#open">
                <i class="bi bi-file-pdf-fill text-white"></i>
            </a>
            <a class="bg-gray-500 fs-4 px-2 py-1 d-block" href="#">
                <i class="bi bi-printer-fill text-white"></i>
            </a>
        </div>

        <!--Modal basic-->
        <div class="modal fade" id="modal-share" tabindex="-1" aria-labelledby="modalBasicLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-0">
                    <div class="modal-header border-0 bg-gray-500">
                        <h5 class="modal-title text-white">Compartilhar</h5>
                        <!--Close button-->
                        <button type="button" class="btn btn-outline-gray-100 p-0 border-2 width-3x height-3x rounded-circle flex-center z-index-1" data-bs-dismiss="modal" aria-label="Close">
                            <i class="bx bx-x fs-5"></i>
                        </button>
                    </div>
                    <div class="modal-body pt-4 pb-0 border-0 bg-white">
                        <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-whatsapp flex-center">
                            <!--Main Icon-->
                            <div class="position-relative d-flex align-items-center">
                                <i class="bx bxl-whatsapp fs-5 me-2"></i>
                                <span>whatsapp</span>
                            </div>
                        </a>
                        <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-facebook flex-center">
                            <!--Main Icon-->
                            <div class="position-relative d-flex align-items-center">
                                <i class="bx bxl-facebook fs-5 me-2"></i>
                                <span>Facebook</span>
                            </div>
                        </a>
                        <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-twitter flex-center">
                            <!--Main Icon-->
                            <div class="position-relative d-flex align-items-center">
                                <i class="bx bxl-twitter fs-5 me-2"></i>
                                <span>Twitter</span>
                            </div>
                        </a>
                    </div>
                    <div class="modal-footer bg-white border-0">
                
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 px-0 px-lg-2">

                <p class="d-none d-lg-block mb-0 mb-lg-4">Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Maiores, nihil ipsa tempore sapiente non temporibus architecto vel
                    totam hic eligendi. Non hic beatae commodi velit impedit magnam voluptate est ipsam.
                    Lorem ipsum dolor
                    <a tabindex="0" class="link-primary text-decoration-underline" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Lorem Ipsum" data-bs-content="Amet consectetur adipisicing elit. Repellat soluta mollitia vel doloribus iste laudantium dicta." data-bs-original-title="Lorem Ipsum">consectetur</a>  sit amet consectetur adipisicing elit. Repellat soluta mollitia vel
                        doloribus iste laudantium dicta, error porro minus quo ex qui quam saepe, ea voluptatum
                        ducimus consectetur velit aliquid.
                </p>

                <div class="collapse d-lg-block" id="collapseSearch">
                    <div class="accordion accordion-custom2" id="pesquisaDeputado">
                        <div class="accordion-item border-0 border-bottom">
                            <h2 class="accordion-header" id="legAtual">
                                <button class="accordion-button btn-secondary text-uppercase rounded-0 rounded-top-lg-2 collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseLegAtual" aria-expanded="true"
                                    aria-controls="collapseLegAtual">
                                    <i class="bi bi-search fs-5 me-2 lh-1 d-none d-lg-block"></i> Lorem
                                    ipsum dolor
                                </button>
                            </h2>
                            <div id="collapseLegAtual" class="accordion-collapse collapse" aria-labelledby="legAtual"
                                data-bs-parent="#pesquisaDeputado">
                                <div class="accordion-body nav-custom2 bg-light border-start border-end">
                                    <!--
                                    <ul class="nav nav-pills d-flex flex-center" id="pills-tab-legAtual" role="tablist">
                                        <li class="nav-item w-100 w-lg-auto mb-1 mb-lg-0" role="presentation">
                                            <button class="w-100 w-lg-auto nav-link  me-0 me-lg-1 rounded-0 rounded-top-lg-1 active"
                                                id="pills-situacao-tab" data-bs-toggle="pill" data-bs-target="#pills-situacao"
                                                type="button" role="tab" aria-controls="pills-situacao" aria-selected="true">Lorem
                                                Ipsum</button>
                                        </li>
                                        <li class="nav-item w-100 w-lg-auto mb-1 mb-lg-0" role="presentation">
                                            <button class="w-100 w-lg-auto nav-link me-0 me-lg-1 rounded-0 rounded-top-lg-1"
                                                id="pills-partido-tab" data-bs-toggle="pill" data-bs-target="#pills-partido"
                                                type="button" role="tab" aria-controls="pills-partido" aria-selected="false">Dolor
                                                Sit</button>
                                        </li>
                                        <li class="nav-item w-100 w-lg-auto mb-1 mb-lg-0" role="presentation">
                                            <button class="w-100 w-lg-auto nav-link rounded-0 rounded-top-lg-1" id="pills-bloco-tab"
                                                data-bs-toggle="pill" data-bs-target="#pills-bloco" type="button" role="tab"
                                                aria-controls="pills-bloco" aria-selected="false">Sit
                                                Amet</button>
                                        </li>
                                    </ul>
                                    -->
                                    <div class="d-flex flex-center">
                                        <div class="nav btn-group" id="pills-tab-legAtual" role="tablist">
                                            <button class="nav-item nav-link btn d-inline-flex active" id="pills-situacao-tab" data-bs-toggle="pill" data-bs-target="#pills-situacao" type="button" role="tab" aria-controls="pills-situacao">Left</button>
                                            <button class="nav-item nav-link btn d-inline-flex" id="pills-partido-tab" data-bs-toggle="pill" data-bs-target="#pills-partido" type="button" role="tab" aria-controls="pills-partido">Middle</button>
                                            <button class="nav-item nav-link btn d-inline-flex" id="pills-bloco-tab" data-bs-toggle="pill" data-bs-target="#pills-bloco" type="button" role="tab" aria-controls="pills-bloco">Right</button>
                                        </div>
                                    </div>
                                    <div class="tab-content pt-3 border-0" id="pills-tab-legAtual">
                                        <div class="tab-pane fade show active" id="pills-situacao" role="tabpanel"
                                            aria-labelledby="pills-situacao-tab">
                                            <form class="row">
                                                <div class="col-md-12 mt-0">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Lorem Ipsum</option>
                                                        <option value="1">Lorem Ipsum</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 mt-3 text-end">
                                                    <a href="#" class="w-100 w-lg-auto btn btn-gray-800 text-uppercase">
                                                        <i class="bi bi-search fs-6 me-2 lh-1"></i>Buscar
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="pills-partido" role="tabpanel"
                                            aria-labelledby="pills-partido-tab">
                                            <form class="row">
                                                <div class="col-md-12 mt-0">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Dolor Sit</option>
                                                        <option value="1">Lorem Ipsum</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 mt-3 text-end">
                                                    <a href="#" class="w-100 w-lg-auto btn btn-gray-800 text-uppercase">
                                                        <i class="bi bi-search fs-6 me-2 lh-1"></i>Buscar
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="pills-bloco" role="tabpanel" aria-labelledby="pills-bloco-tab">
                                            <form class="row">
                                                <div class="col-md-12 mt-0">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Sit Amet</option>
                                                        <option value="1">Lorem Ipsum</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 mt-3 text-end">
                                                    <a href="#" class="w-100 w-lg-auto btn btn-gray-800 text-uppercase">
                                                        <i class="bi bi-search fs-6 me-2 lh-1"></i>Buscar
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="legAnterior">
                                <button class="accordion-button collapsed text-uppercase rounded-0" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseLegAnterior" aria-expanded="false"
                                    aria-controls="collapseLegAnterior">
                                    <i class="bi bi-search fs-5 me-2 lh-1 d-none d-lg-block"></i> Repellat
                                    soluta mollitia
                                </button>
                            </h2>
                            <div id="collapseLegAnterior" class="accordion-collapse collapse" aria-labelledby="legAnterior"
                                data-bs-parent="#pesquisaDeputado">
                                <div class="accordion-body nav-custom2 bg-light border-start border-end border-bottom">
                                    <!--
                                    <ul class="nav nav-pills d-flex flex-center" id="pills-tab-legAnterior" role="tablist">
                                        <li class="nav-item w-100 w-lg-auto mb-1 mb-lg-0" role="presentation">
                                            <button class="w-100 w-lg-auto nav-link  me-0 me-lg-1 rounded-0 rounded-top-lg-1 active"
                                                id="pills-14-18-tab" data-bs-toggle="pill" data-bs-target="#pills-14-18" type="button"
                                                role="tab" aria-controls="pills-14-18" aria-selected="true">Lorem
                                                Ipsum</button>
                                        </li>
                                        <li class="nav-item w-100 w-lg-auto mb-1 mb-lg-0" role="presentation">
                                            <button class="w-100 w-lg-auto nav-link  me-0 me-lg-1 rounded-0 rounded-top-lg-1"
                                                id="pills-1-13-tab" data-bs-toggle="pill" data-bs-target="#pills-1-13" type="button"
                                                role="tab" aria-controls="pills-1-13" aria-selected="false">Dolor
                                                Sit</button>
                                        </li>
                                    </ul>
                                    -->
                                    <div class="d-flex flex-center">
                                        <div class="nav btn-group" id="pills-tab-legAnterior" role="tablist">
                                            <button class="nav-item nav-link btn d-inline-flex active" id="pills-14-18-tab" data-bs-toggle="pill" data-bs-target="#pills-14-18" type="button" role="tab" aria-controls="pills-14-18">Left</button>
                                            <button class="nav-item nav-link btn d-inline-flex" id="pills-1-13-tab" data-bs-toggle="pill" data-bs-target="#pills-1-13" type="button" role="tab" aria-controls="pills-1-13">Right</button>
                                        </div>
                                    </div>
                                    <div class="tab-content pt-3 border-0" id="pills-tab-legAnterior">
                                        <div class="tab-pane fade show active" id="pills-14-18" role="tabpanel"
                                            aria-labelledby="pills-14-18-tab">
                                            <form class="row">
                                                <div class="col-12 col-md-6 mt-0">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Lorem Ipsum</option>
                                                        <option value="1">Lorem Ipsum</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-md-6 mt-2 mt-lg-0">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Lorem Ipsum</option>
                                                        <option value="1">Lorem Ipsum</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 mt-3 text-end">
                                                    <a href="#" class="w-100 w-lg-auto btn btn-gray-800 text-uppercase">
                                                        <i class="bi bi-search fs-6 me-2 lh-1"></i>Buscar
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="pills-1-13" role="tabpanel" aria-labelledby="pills-1-13-tab">
                                            <form class="row">
                                                <div class="col-12 col-md-6 mt-0">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Dolor Sit</option>
                                                        <option value="1">Lorem Ipsum</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-md-6 mt-2 mt-lg-0">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Dolor Sit</option>
                                                        <option value="1">Lorem Ipsum</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-md-6 mt-2">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Dolor Sit</option>
                                                        <option value="1">Lorem Ipsum</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-md-6 mt-2">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Dolor Sit</option>
                                                        <option value="1">Lorem Ipsum</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-12 col-lg-6 mt-4">
                <input class="form-control" type="text" placeholder="Filtrar" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-end mt-4 ">
                <p>3 Lorem encontrados <i class="bi bi-arrow-down-short fs-5"></i>
                </p>

            </div>

            <div class="col-12">
                <ul class="list-group mt-2 rounded-0">
                    <li class="list-group-item py-3">
                        <div class="d-flex align-items-center">
                            <div class="me-3 me-lg-4">
                                <i class="bi bi-image-fill text-gray-500 display-1 align-middle"></i>
                            </div>
                            <div class="flex-grow-1">
                                <div class="d-sm-flex align-items-center">
                                    <div class="w-100 w-lg-40">
                                        <p class="mb-0 small">Dolar Sit</p>
                                        <a class="h5 d-block mb-1" href="#!">Lorem Ipsum Dolar
                                            Amet</a>
                                        <div class="h5 mb-0">
                                            <span class="badge badge-pill bg-gray-500">Amet</span>
                                            <span class="badge badge-pill bg-gray-500">Sed</span>
                                        </div>
                                    </div>
                                    <div class="w-60 d-none d-lg-block">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
                                            quia sapiente atque architecto unde, sed accusantium numquam
                                            doloribus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item py-3 bg-light">
                        <div class="d-flex align-items-center">
                            <div class="me-3 me-lg-4">
                                <i class="bi bi-image-fill text-gray-500 display-1 align-middle"></i>
                            </div>
                            <div class="flex-grow-1">
                                <div class="d-sm-flex align-items-center">
                                    <div class="w-100 w-lg-40">
                                        <p class="mb-0 small">Dolar Sit</p>
                                        <a class="h5 d-block mb-1" href="#!">Lorem Ipsum Dolar
                                            Amet</a>
                                        <div class="h5 mb-0">
                                            <span class="badge badge-pill bg-gray-500">Amet</span>
                                            <span class="badge badge-pill bg-gray-500">Sed</span>
                                        </div>
                                    </div>
                                    <div class="w-60 d-none d-lg-block">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
                                            quia sapiente atque architecto unde, sed accusantium numquam
                                            doloribus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item py-3">
                        <div class="d-flex align-items-center">
                            <div class="me-3 me-lg-4">
                                <i class="bi bi-image-fill text-gray-500 display-1 align-middle"></i>
                            </div>
                            <div class="flex-grow-1">
                                <div class="d-sm-flex align-items-center">
                                    <div class="w-100 w-lg-40">
                                        <p class="mb-0 small">Dolar Sit</p>
                                        <a class="h5 d-block mb-1" href="#!">Lorem Ipsum Dolar
                                            Amet</a>
                                        <div class="h5 mb-0">
                                            <span class="badge badge-pill bg-gray-500">Amet</span>
                                            <span class="badge badge-pill bg-gray-500">Sed</span>
                                        </div>
                                    </div>
                                    <div class="w-60 d-none d-lg-block">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
                                            quia sapiente atque architecto unde, sed accusantium numquam
                                            doloribus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-6">
                    <ul class="pagination pagination">
                        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Próxima</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>