<form class="p-4 bg-gray-100 border position-relative">
    <div class="row gy-3 ">
        <div class="col-md-12">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Assunto">
        </div>
        <div class="col-md-12">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class=" input-group">
                        <span class="input-group-text">De:</span>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" input-group">
                        <span class="input-group-text">Até</span>
                        <input type="date" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <select class="form-select" aria-label="">
                <option selected>Temas</option>
                <option value="1">Lorem Ipsum</option>
            </select>
        </div>
        <div class="col-md-12">
            <div class="row g-3">
                <div class="col-md-6">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                        Releases
                    </label>
                </div>
                <div class="col-md-6">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                        Notícias
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3 text-end">
            <a href="#" class="w-100 w-lg-auto btn btn-gray-800 text-uppercase">
                <i class="bi bi-search fs-6 me-2 lh-1"></i>Buscar
            </a>
        </div>
    </div>
</form>