<section class="bg-gray-400">
    <div class="container-fluid container-lg">
        <div class="row">
            <div class="col-6 d-lg-none px-0 d-flex justify-content-start">
                <div class="p-2">
                    <a class="link-gray-800" href="#">
                        <i class="bi bi-arrow-left-short fs-5 lh-1 text-gray-800 align-bottom"></i>
                        <span class="small align-bottom">Lorem Ipsum</span>
                    </a>
                </div>
            </div>
            <div class="col-6 px-0 d-flex justify-content-end">
                <a class="p-2 ps-3 bg-gray-500 d-lg-none border-end border-gray-400" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false"
                    aria-controls="collapseExample3">
                    <i class="bi bi-three-dots fs-5 me-2 lh-1 text-white"></i>
                </a>
                <a class="p-2 ps-3 bg-gray-500 d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                    data-bs-parent="#menuContent">
                    <i class="bi bi-search fs-5 me-2 lh-1 text-white"></i>
                </a>
            </div>
            <div class="collapse d-lg-block px-0" id="collapseExample3">
                <div class="accordion">
                    <div class="col-12 nav-custom3 bg-light">
                        <ul class="nav nav-fill nav flex-column flex-lg-row">
                            <li class="nav-item pb-1 pb-lg-0 text-start text-lg-center">
                                <a class="nav-link active ps-3 ps-lg-0" aria-current="page" href="#">Lorem ipsum
                                    dolor</a>
                            </li>
                            <li class="nav-item pb-1 pb-lg-0 text-start text-lg-center">
                                <a class="nav-link ps-3 ps-lg-0" href="#">Consectetur adipisicing
                                    elit</a>
                            </li>
                            <li class="nav-item pb-1 pb-lg-0 text-start text-lg-center">
                                <a class="nav-link ps-3 ps-lg-0" href="#">Tempore</a>
                            </li>
                            <li class="nav-item pb-1 pb-lg-0 text-start text-lg-center">
                                <a class="nav-link ps-3 ps-lg-0" href="#">Architecto vel totam </a>
                            </li>
                            <li class="nav-item text-start text-lg-center">
                                <a class="nav-link ps-3 ps-lg-0" href="#" tabindex="-1"
                                    aria-disabled="true">Sapiente
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>