<section class="bg-gray-200 border-bottom-lg border-top">
    <div class="container-fluid container-lg">
        <div class="row">
            <div class="col-6 d-lg-none px-0 d-flex justify-content-start">
                <div class="p-2">
                    <a class="link-primary" href="#">
                        <i class="bi bi-arrow-left-short fs-5 lh-1 align-bottom"></i>
                        <span class="small align-bottom fw-semibold">Entenda</span>
                    </a>
                </div>
            </div>
            <div class="col-6 px-0 d-flex justify-content-end">
                <button aria-label="Compartilhar" class="p-2 ps-3 btn btn-gray-500 rounded-0 d-lg-none border-end border-gray-400" data-bs-toggle="modal" data-bs-target="#modal-share">
                    <i class="bi bi-share-fill fs-5 me-2 lh-1 text-white"></i><span class="d-none">Compartilhar</span>
                </button>
                <button aria-label="Menu Local" class="p-2 ps-3 btn btn-gray-500 rounded-0 d-lg-none border-end border-gray-400 btn-collapse-sm-menu collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseSecondaryMenu" aria-expanded="false"
                    aria-controls="collapseSecondaryMenu">
                    <i class="bi bi-three-dots fs-5 me-2 lh-1 text-white"></i><span class="d-none">Menu Local</span>
                </button>
                <button aria-label="Pesquisar" class="p-2 ps-3 btn btn-gray-500 rounded-0 d-lg-none btn-collapse-sm-menu collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                    <i class="bi bi-search fs-5 me-2 lh-1 text-white"></i><span class="d-none">Pesquisar</span>
                </button>
            </div>
            <div class="collapse d-lg-block px-0" id="collapseSecondaryMenu">
                <div class="accordion">
                    <div class="col-12 nav-custom3">
                        <ul class="nav nav-fill nav flex-column flex-lg-row p-0">
                            <li class="nav-item  pb-lg-0 text-start text-lg-center">
                                <a class="nav-link ps-3 ps-lg-0 fw-semibold active" aria-current="page" href="../../almg/page-almg-evento.html">Inicial</a>
                            </li>
                            <li class="nav-item  pb-lg-0 text-start text-lg-center">
                                <a class="nav-link ps-3 ps-lg-0 fw-semibold" aria-current="page" href="../../almg/page-almg-evento-entenda.html">Entenda</a>
                            </li>
                            <li class="nav-item  pb-lg-0 text-start text-lg-center">
                                <a class="nav-link ps-3 ps-lg-0 fw-semibold" href="../../almg/page-almg-evento-programa.html">Programação</a>
                            </li>
                            <li class="nav-item  pb-lg-0 text-start text-lg-center">
                                <a class="nav-link ps-3 ps-lg-0 fw-semibold" href="../../almg/page-almg-evento-docs.html">Documentos </a>
                            </li>
                            <li class="nav-item  pb-lg-0 text-start text-lg-center">
                                <a class="nav-link ps-3 ps-lg-0 fw-semibold" href="../../almg/page-almg-evento-monitoramento.html">Monitoramento</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>