<section class="position-relative bg-gray-100 d-none d-lg-block border-top border-bottom">
    <div class="container py-4 d-none d-lg-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb fw-semibold mb-0">
                <li class="breadcrumb-item">
                    <a href="#" class="fw-semibold">Início</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="fw-semibold" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lorem Ipsum</a>
                    <ul class="dropdown-menu border-1 border-gray-200">
                        <li><a class="dropdown-item fw-semibold" href="#">Lorem ipsum</a></li>
                        <li><a class="dropdown-item fw-semibold" href="#">Harum quidem rerum</a></li>
                        <li><a class="dropdown-item fw-semibold" href="#">Nam libero tempore</a></li>
                        <li>
                            <hr class="my-1" />
                        </li>
                        <li><a class="dropdown-item fw-semibold" href="#">Facere possimus</a></li>
                    </ul>
                </li>
                <li class="breadcrumb-item fw-semibold active" aria-current="page">Esta página</li>
            </ol>
        </nav>
    </div>
</section>