<section class="position-relative container-fluid container-lg mb-6">
    <div class="row mb-4 align-items-end justify-content-between">
        <div class="col-md-7 mb-4 mb-lg-0">
            <!--Subheading-->
            <div>
                <span class="h6 mb-0 text-muted">Notícias</span>
            </div>
            <h2 class="mb-0">Últimas do PPAG</h2>
        </div>
        <div class="col-12 col-md-3 text-lg-end">
            <a href="#!" class="btn btn-secondary btn-hover-arrow">
                <span>Mais notícias</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 mb-0">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <article class="card card-hover hover-shadow-lg overflow-hidden border rounded-3 ">
                        <div class="overflow-hidden position-relative">
                            <!--Article image-->
                            <img src="https://mediaserver.almg.gov.br/acervo/609/241/1609241.jpg" alt="" class="img-fluid">
                        </div>
                        <!--Content-body-->
                        <div class="card-body pb-3 position-relative">
                            <small>16/11/2021</small>
                            <h5 class="pb-3 mb-0">Desafios da pandemia motivam pedidos de revisão ao orçamento</h5>
                            <p class="mb-0">
                                Comissão recebeu propostas oriundas de discussão participativa do PPAG, que agora começam a tramitar na ALMG. 
                            </p>
                        </div>

                        <!--Article link-->
                        <a href="#!" class="stretched-link"></a>
                    </article>
                </div>
                <div class="col-lg-6 mb-4">
                    <article class="card card-hover hover-shadow-lg overflow-hidden  ">
                        <div class="overflow-hidden position-relative">

                            <!--Article image-->
                            <img src="https://mediaserver.almg.gov.br/acervo/605/718/1605718.jpg" alt="" class="img-fluid">
                        </div>
                        <!--Content-body-->
                        <div class="card-body pb-3 position-relative">
                            <small>11/11/2021</small>
                            <h5 class="pb-3 mb-0">Comissão recebe sugestões populares para o PPAG</h5>
                            <p class="mb-0">
                                Propostas foram definidas em reuniões remotas e tratam de Recursos Hídricos, Cultura, Assistência Social e Agropecuária.
                            </p>
                        </div>

                        <!--Article link-->
                        <a href="#!" class="stretched-link"></a>
                    </article>
                </div>
            </div>
            <div class="col-lg-12">
                <div
                    class="card align-items-lg-center hover-shadow-lg rounded-0 flex-lg-row flex-column overflow-hidden border rounded-3 bg-white mb-4">
                    <div class="d-none d-xl-block col-xl-4">
                        <!--Image-->
                        <img src="https://mediaserver.almg.gov.br/acervo/603/151/1603151.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="card-body h-100 pb-3 flex-grow-1">
                        <small>03/11/2021</small>
                        <h5 class="pb-3 mb-0">Propostas vão subsidiar nova ação no PPAG</h5>
                        <p class="mb-0">
                            ALMG realiza mais uma rodada de discussões on-line para consolidar sugestões populares que serão avaliadas por comissão.
                        </p>
                    </div>
                    <a href="#!" class="stretched-link"></a>
                </div>
                <div
                    class="card align-items-lg-center hover-shadow-lg rounded-0 flex-lg-row flex-column overflow-hidden border rounded-3 bg-white mb-4">
                    <div class="card-body h-100 pb-3 flex-grow-1">
                        <small>22/10/2021</small>
                        <h5 class="pb-3 mb-0">Rio Doce encerra encontros regionais de revisão do PPAG</h5>
                        <p class="mb-0">
                            Agora, região deve enviar propostas para segunda fase, que se inicia em novembro. Consulta pública vai até o dia 29.
                        </p>
                    </div>
                    <a href="#!" class="stretched-link"></a>
                </div>
                
            </div>
        </div>
        <hr class="d-lg-none">
        <div class="col-lg-4 mt-2 mt-lg-0">
            <div class="overflow-hidden card p-3 mb-3 rounded-3 hover-shadow-lg flex-row align-items-center">
                <!--Icon-->
                <div class="me-1 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-play-circle-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-center">
                    <!--Title-->
                    <h6 class="mb-0">FFO aprova 144 requerimentos populares
                        </h6>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        Os pedidos de providências foram apresentados durante os encontros regionais sobre a revisão do P...
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>
            <div class="bg-light overflow-hidden card p-3 mb-3 rounded-3 hover-shadow-lg flex-row align-items-center">
                <!--Icon-->
                <div class="me-1 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-play-circle-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-center">
                    <!--Title-->
                    <h6 class="mb-0">Comissão aprova sugestões populares ao PPAG</h5>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        Quarenta e quatro sugestões populares ao plano de metas do estado foram transformadas em Proposta...
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>
            <div class="overflow-hidden card p-3 mb-3 rounded-3 hover-shadow-lg flex-row align-items-center">
                <!--Icon-->
                <div class="me-1 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-play-circle-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-center">
                    <!--Title-->
                    <h6 class="mb-0">População apresenta propostas de revisão do PPAG 2020-2023
                        </h6>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        A Comissão de Participação Popular recebeu 58 propostas de revisão do plano de metas para  ...
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>

            <div class="bg-light overflow-hidden card p-3 mb-3 rounded-3 hover-shadow-lg flex-row align-items-center">
                <!--Icon-->
                <div class="me-1 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-volume-up-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-center">
                    <!--Title-->
                    <h6 class="mb-0">Assembleia Fiscaliza - Deputados cobram execução de emendas do PPAG e aplicação dos recursos do Fundeb
                        </h6>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        Já representantes da área de planejamento do governo ressaltaram a regularização de pagamentos aos servidores e aos municípios.
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>
            <div class="overflow-hidden card p-3 mb-3 rounded-3 hover-shadow-lg flex-row align-items-center">
                <!--Icon-->
                <div class="me-1 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-volume-up-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-center">
                    <!--Title-->
                    <h6 class="mb-0">Planejamento público para 2022 já está em vigor
                        </h6>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        As medidas fazem parte do PPAG, aprovado pela ALMG. Os deputados analisaram 159 programas, distribuídos em quase 900 ações.
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>
            <div class="bg-light overflow-hidden card p-3 mb-3 rounded-3 hover-shadow-lg flex-row align-items-center">
                <!--Icon-->
                <div class="me-1 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-volume-up-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-center">
                    <!--Title-->
                    <h6 class="mb-0">Orçamento 2022 - Sugestões da sociedade são analisadas para possivel inclusão no plano de metas
                        </h6>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        Durante a etapa de debate sobre o PPAG - Plano Plurianual de Ação Governamental, foram consolidadas 58 sugestões de emendas em estudo pela Comissão de Participação Popular.
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>

            <div class="mt-4">
                <a href="#!" class="d-block overflow-hidden">
                    <img src="/assets/img/1200x600/como-funciona.jpg" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</section>