<section class="bg-gray-200 position-relative text-white">
    <div class="container-fluid container-lg position-relative z-index-1">
        <div class="row grid-separator align-items-stretch">
            <div class="col-lg-4 py-lg-6 py-4">
                <h6 class="mb-4 text-gray-800"><i class="bi bi-arrow-right-short fs-4 align-middle"></i>
                    Lorem Ipsum</h6>
                <ul class="list-unstyled ms-4 mb-1">
                    <li class="mb-2">
                        <a href="#" class="link-hover-move-arrow text-body">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9"
                                style=" transform: rotate(-90deg);">
                                <path fill="currentColor"
                                    d="M12.25 2.30062L10.8988 0.949371L6.5 5.33854L2.10125 0.949371L0.75 2.30062L6.5 8.05062L12.25 2.30062Z">
                                </path>
                            </svg>
                            Lorem ipsum dolar
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="link-hover-move-arrow text-body">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9"
                                style=" transform: rotate(-90deg);">
                                <path fill="currentColor"
                                    d="M12.25 2.30062L10.8988 0.949371L6.5 5.33854L2.10125 0.949371L0.75 2.30062L6.5 8.05062L12.25 2.30062Z">
                                </path>
                            </svg>
                            Consectetur adipisicing elit
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="link-hover-move-arrow text-body">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9"
                                style=" transform: rotate(-90deg);">
                                <path fill="currentColor"
                                    d="M12.25 2.30062L10.8988 0.949371L6.5 5.33854L2.10125 0.949371L0.75 2.30062L6.5 8.05062L12.25 2.30062Z">
                                </path>
                            </svg>
                            Accusantium numquam
                        </a>
                    </li>
                    <li class="">
                        <a href="" class="link-hover-move-arrow text-body">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9"
                                style=" transform: rotate(-90deg);">
                                <path fill="currentColor"
                                    d="M12.25 2.30062L10.8988 0.949371L6.5 5.33854L2.10125 0.949371L0.75 2.30062L6.5 8.05062L12.25 2.30062Z">
                                </path>
                            </svg>
                            Sapiente atque
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 py-lg-6 py-4">
                <h6 class="mb-4 text-gray-800"><i class="bi bi-arrow-right-short fs-4 align-middle"></i>
                    Dolor sit amet</h6>
                <ul class="list-unstyled ms-4 mb-1">
                    <li class="mb-2">
                        <a href="#" class="link-hover-move-arrow text-body">
                            <i class="bi bi-file-earmark-pdf fs-4 align-middle lh-1"></i>
                            Lorem ipsum dolar
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="link-hover-move-arrow text-body">
                            <i class="bi bi-file-earmark-pdf fs-4 align-middle lh-1"></i>
                            Sed accusantium numquam doloribus
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="" class="link-hover-move-arrow text-body">
                            <i class="bi bi-file-earmark-pdf fs-4 align-middle lh-1"></i>
                            Consectetur adipisicing elit
                        </a>
                    </li>
                    <li class="">
                        <a href="" class="link-hover-move-arrow text-body">
                            <i class="bi bi-file-earmark-pdf fs-4 align-middle lh-1"></i>
                            Quae quia sapiente atque architecto unde
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 py-lg-6 py-4">
                <h6 class="mb-2 text-gray-800"><i class="bi bi-arrow-right-short fs-4 align-middle"></i>
                    Consectetur adipisicing elit</h6>
                <div class="ms-4">
                    <p class="text-gray-800">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo dolor
                        ut faucibus
                        mollis.
                    </p>
                    <div>
                        <a href="#" class="btn btn-primary text-uppercase me-3">
                            Lorem Ipsum
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>