<section class="position-relative container-fluid container-lg mb-6">
    <div class="row mb-4 align-items-end justify-content-between">
        <div class="col-md-7 mb-4 mb-lg-0">
            <!--Subheading-->
            <div>
                <span class="h6 mb-0 text-muted">Lorem Ipsum</span>
            </div>
            <h2 class="mb-0">Lorem ipsum dolor</h2>
        </div>
        <div class="col-12 col-md-3 text-lg-end">
            <a href="#!" class="btn btn-secondary btn-hover-arrow">
                <span>Lorem ipsum</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 mb-0">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <article class="card card-hover hover-shadow-lg overflow-hidden border rounded-3 ">
                        <div class="overflow-hidden position-relative">
                            <!--Article image-->
                            <img src="https://via.placeholder.com/1200x800" alt="" class="img-fluid">
                        </div>
                        <!--Content-body-->
                        <div class="card-body pb-3 position-relative">
                            <small>12/12/2021</small>
                            <h5 class="pb-3 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                            <p class="mb-0">
                                Lorem ipsum dolor sit amet sed do eiusmod tempor labore et dolore magna aliqua.
                                Viverra nam libero justo laoreet.
                            </p>
                        </div>

                        <!--Article link-->
                        <a href="#!" class="stretched-link"></a>
                    </article>
                </div>
                <div class="col-lg-6 mb-4">
                    <article class="card card-hover hover-shadow-lg overflow-hidden  ">
                        <div class="overflow-hidden position-relative">

                            <!--Article image-->
                            <img src="https://via.placeholder.com/1200x800" alt="" class="img-fluid">
                        </div>
                        <!--Content-body-->
                        <div class="card-body pb-3 position-relative">
                            <small>12/12/2021</small>
                            <h5 class="pb-3 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                            <p class="mb-0">
                                Lorem ipsum dolor sit amet sed do eiusmod tempor labore et dolore magna aliqua.
                                Viverra nam libero justo laoreet.
                            </p>
                        </div>

                        <!--Article link-->
                        <a href="#!" class="stretched-link"></a>
                    </article>
                </div>
            </div>
            <div class="col-lg-12">
                <div
                    class="card align-items-lg-center hover-shadow-lg rounded-0 flex-lg-row flex-column overflow-hidden border rounded-3 bg-white mb-4">
                    <div class="d-none d-xl-block col-xl-4">
                        <!--Image-->
                        <img src="https://via.placeholder.com/1200x800" alt="" class="img-fluid">
                    </div>
                    <div class="card-body h-100 pb-3 flex-grow-1">
                        <small>12/12/2021</small>
                        <h5 class="pb-3 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet sed do eiusmod tempor labore et dolore magna aliqua.
                            Viverra nam libero justo laoreet.
                        </p>
                    </div>
                    <a href="#!" class="stretched-link"></a>
                </div>
                <div
                    class="card align-items-lg-center hover-shadow-lg rounded-0 flex-lg-row flex-column overflow-hidden border rounded-3 bg-white mb-4">
                    <div class="card-body h-100 pb-3 flex-grow-1">
                        <small>12/12/2021</small>
                        <h5 class="pb-3 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet sed do eiusmod tempor labore et dolore magna aliqua.
                            Viverra nam libero justo laoreet.
                        </p>
                    </div>
                    <a href="#!" class="stretched-link"></a>
                </div>
                
            </div>
        </div>
        <hr class="d-lg-none">
        <div class="col-lg-4 mt-2 mt-lg-0">
            <div class="overflow-hidden card card-body mb-4 rounded-3 hover-shadow-lg flex-row align-items-stretch">
                <!--Icon-->
                <div class="me-4 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-play-circle-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-grow-1">
                    <!--Title-->
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries ...
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>
            <div class="overflow-hidden card card-body mb-4 rounded-3 hover-shadow-lg flex-row align-items-stretch">
                <!--Icon-->
                <div class="me-4 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-play-circle-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-grow-1">
                    <!--Title-->
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries ...
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>
            <div class="overflow-hidden card card-body mb-4 rounded-3 hover-shadow-lg flex-row align-items-stretch">
                <!--Icon-->
                <div class="me-4 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-play-circle-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-grow-1">
                    <!--Title-->
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries ...
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>

            <div class="overflow-hidden card card-body mb-4 rounded-3 hover-shadow-lg flex-row align-items-stretch">
                <!--Icon-->
                <div class="me-4 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-volume-up-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-grow-1">
                    <!--Title-->
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries ...
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>
            <div class="overflow-hidden card card-body mb-4 rounded-3 hover-shadow-lg flex-row align-items-stretch">
                <!--Icon-->
                <div class="me-4 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-volume-up-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-grow-1">
                    <!--Title-->
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries ...
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>
            <div class="overflow-hidden card card-body mb-4 rounded-3 hover-shadow-lg flex-row align-items-stretch">
                <!--Icon-->
                <div class="me-4 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
                    <i class="bi bi-volume-up-fill text-gray-500 fs-2 align-middle"></i>
                </div>
                <div class="flex-grow-1">
                    <!--Title-->
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                    <!--Description-->
                    <p class="mt-3 d-block d-lg-none">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries ...
                    </p>
                </div>
                <a href="#!" class="stretched-link"></a>
            </div>

            <div class="mt-6">
                <a href="#!" class="d-block overflow-hidden">
                    <img src="https://via.placeholder.com/1200x400?text=Galeria de Fotos" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</section>