<!--Footer start-->
<footer id="footer" class="bg-secondary text-white position-relative">
    <div class="container pt-9 pt-lg-11">
        <div class="row">
            <div class="col-12 col-lg-3 mb-5  ms-auto h-100">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-4">Institucional</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Agenda</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Entenda a Assembleia</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Mesa Diretora</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Procuradoria da Mulher</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Direcionamento Estratégico</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Balanço das Atividades</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Educação para Cidadania</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Como Chegar</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-5  ms-auto h-100">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-4">Atividade Legislativa</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Plenário</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Comissões</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Tramitação de Projetos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Fiscalização</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Legislação</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Planejamento e Orçamento</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Pronunciamentos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Diário do Legislativo</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-5  ms-auto h-100">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-4">Participe</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Eventos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Assembleia Cultural</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Dê sua opinião sobre projetos de lei</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Reuniões Interativas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Consulta Pública</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Envie sua sugestão de projeto de lei</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Enquetes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Visite a Assembleia</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-5  ms-auto h-100">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-4">Serviços</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Procon Assembleia</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Apoio às Câmaras</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Apoio às Prefeituras</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Sala de Imprensa</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Biblioteca</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Espaço Cidadania</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Resultado de Eleições</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Municípios de Minas Gerais</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Boletins por e-mail</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Glossário</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Fale com a Assembleia</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-5  ms-auto h-100">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-4">Deputados</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Conheça os Deputados</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Lideranças</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Representação Partidária</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Deputados Majoritários por Localidade</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-5  ms-auto h-100">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-4">Comunicação</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Notícias</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">TV Assembleia</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Rádio Assembleia</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Galeria de Fotos</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-5  ms-auto h-100">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-4">Transparência</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Prestação de Contas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Licitações</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Concursos Públicos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Gestão de Dados Pessoais</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Dados Abertos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Políticas Públicas</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-5  ms-auto h-100">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-4">Sobre o Portal</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Termos de Uso e Política de Privacidade</a></li>
                </ul>
            </div>
            <!--/.Col-->
        </div>
        <hr class="mb-5 mt-5">
    </div> <!-- / .container -->
    <div class="pb-5">
        <div class="container">
            <div class="row justify-content-md-between align-items-center">
                <div class="d-flex mb-3 mb-md-0 col-sm-6 col-md-4">
                    <!-- Social button -->
                    <a href="#!" class="d-inline-block mb-1 me-2 si rounded-pill si-hover-facebook">
                        <i class="bx bxl-facebook fs-5"></i>
                        <i class="bx bxl-facebook fs-5"></i>
                    </a>
                    <!-- Social button -->
                    <a href="#!" class="d-inline-block mb-1 me-2 si rounded-pill si-hover-twitter">
                        <i class="bx bxl-twitter fs-5"></i>
                        <i class="bx bxl-twitter fs-5"></i>
                    </a>
                    <!-- Social button -->
                    <a href="#!" class="d-inline-block mb-1 me-2 si rounded-pill si-hover-linkedin">
                        <i class="bx bxl-linkedin fs-5"></i>
                        <i class="bx bxl-linkedin fs-5"></i>
                    </a>
                    <!-- Social button -->
                    <a href="#!" class="d-inline-block mb-1 si rounded-pill si-hover-instagram">
                        <i class="bx bxl-instagram fs-5"></i>
                        <i class="bx bxl-instagram fs-5"></i>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 text-sm-end">
                    <span class="d-block lh-sm small text-muted">© Copyright
                        <script>
                            document.write(new Date().getFullYear())

                        </script>. ALMG
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
