<!--Footer start-->
<footer id="footer" class="bg-secondary text-white position-relative">
    <div class="container pt-9 pt-lg-11">
        <div class="row" data-masonry='{"percentPosition": true }'>
            <div class="col-12 col-lg-3 mb-6 ms-auto">
                <!--Title-->
                <h6 class="small mb-2 text-uppercase">Institucional</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Agenda</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Entenda a Assembleia</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Mesa Diretora</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Procuradoria da Mulher</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Direcionamento Estratégico</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Balanço das Atividades</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Educação para Cidadania</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Como Chegar</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-6 ms-auto">
                <!--Title-->
                <h6 class="small mb-2 text-uppercase">Atividade Legislativa</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Plenário</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Comissões</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Tramitação de Projetos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Fiscalização</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Legislação</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Planejamento e Orçamento</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Pronunciamentos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Diário do Legislativo</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-6 ms-auto">
                <!--Title-->
                <h6 class="small mb-2 text-uppercase">Serviços</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Procon Assembleia</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Apoio às Câmaras</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Apoio às Prefeituras</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Sala de Imprensa</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Biblioteca</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Espaço Cidadania</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Resultado de Eleições</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Municípios de Minas Gerais</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Boletins por e-mail</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Glossário</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Fale com a Assembleia</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-6 ms-auto">
                <!--Title-->
                <h6 class="small mb-2 text-uppercase">Deputados</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Conheça os Deputados</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Lideranças</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Representação Partidária</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Deputados Majoritários por Localidade</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-6 ms-auto">
                <!--Title-->
                <h6 class="small mb-2 text-uppercase">Participe</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Eventos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Assembleia Cultural</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Dê sua opinião sobre projetos de lei</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Reuniões Interativas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Consulta Pública</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Envie sua sugestão de projeto de lei</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Enquetes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Visite a Assembleia</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-6 ms-auto">
                <!--Title-->
                <h6 class="small mb-2 text-uppercase">Portal da ALMG</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Sobe o Portal</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Termos de Uso e Política de Privacidade</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-6 ms-auto">
                <!--Title-->
                <h6 class="small mb-2 text-uppercase">Transparência</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Prestação de Contas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Licitações</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Concursos Públicos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Gestão de Dados Pessoais</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Dados Abertos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Políticas Públicas</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="col-12 col-lg-3 mb-6 ms-auto">
                <!--Title-->
                <h6 class="small mb-2 text-uppercase">Comunicação</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Notícias</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">TV Assembleia</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Rádio Assembleia</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Galeria de Fotos</a></li>
                </ul>
            </div>
            <!--/.Col-->
        </div>
        <hr class="mb-5 mt-0">
    </div> <!-- / .container -->
    <div class="pb-5">
        <div class="container">
            <div class="row justify-content-md-between align-items-center">
                <div class="d-flex mb-3 mb-md-0 col-12 col-md-4">
                    <div class="d-flex">
                        <!--Icon-->
                        <div class="me-4 flex-shrink-0 position-relative">
                            <i class="bi bi-geo-alt-fill display-4 lh-1 text-light position-relative"></i>
                        </div>
                        <div class="flex-grow-1">
                            <!--Description-->
                            <p class="mb-0 text-light">
                                Rua Rodrigues Caldas, 30<br />
                                Santo Agostinho - CEP 30190-921<br />
                                Belo Horizonte/MG<br />
                                (31) 2108-7000
                            </p>
                            <a href="#" class="btn btn-gray-800 fw-semibold btn-sm text-uppercase mt-2">
                                <i class="bx bx-map-alt fs-5 lh-1 align-text-bottom me-1"></i>Como chegar
                            </a>
                            <a href="#" class="btn btn-gray-800 fw-semibold btn-sm text-uppercase mt-2 ms-2">
                                <i class="bx bx-phone fs-5 lh-1 align-text-bottom me-1"></i>Lista Telefônica
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-md-center mb-3 mb-md-0 lh-sm">
                    <a class="link-light" href="#"><i class="bi bi-instagram fs-4 me-3"></i></a>
                    <a class="link-light" href="#"><i class="bi bi-facebook fs-4 me-3"></i></a>
                    <a class="link-light" href="#"><i class="bi bi-telegram fs-4 me-3"></i></a>
                    <a class="link-light" href="#"><i class="bi bi-twitter fs-4 me-3"></i></a>
                    <a class="link-light" href="#"><i class="bi bi-youtube fs-4 me-3"></i></a>
                </div>
                <div class="col-12 col-md-4 text-sm-end">
                    <a href="#" class="btn btn-gray-800 fw-semibold btn-sm text-uppercase mt-2">
                        <i class="bi bi-house-fill fs-5 lh-1 align-text-bottom me-1"></i>Intranet
                    </a>
                    <a href="#" class="btn btn-gray-800 fw-semibold btn-sm text-uppercase mt-2 ms-2">
                        <i class="bi bi-envelope-fill fs-5 lh-1 align-text-bottom me-2"></i>Webmail
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>