<!--Modal basic-->
<div class="modal fade" id="modal-search" tabindex="-1" aria-labelledby="modalBasicLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 bg-gray-200">
            <div class="modal-header border-0 bg-secondary">
                <h5 class="modal-title text-white">Buscar em toda ALMG</h5>
                <!--Close button-->
                <button type="button" class="btn btn-gray-800 p-0 border-2 width-3x height-3x rounded-circle flex-center z-index-1" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x fs-5"></i>
                </button>
            </div>
            <div class="modal-body p-4 border-0 bg-white">
                <input type="text" class="form-control form-control-lg text-gray-800" id="search" placeholder="">
                <div class="pt-4">
                    <div class="d-flex flex-wrap align-items-center px-2">
                        <span class="me-2 fw-semibold text-gray-800">Mais buscado:</span>
                        <span><a href="#!"
                                class="badge bg-gray-500 text-white me-1 mb-1 px-3 py-1">Tag01</a></span>
                        <span><a href="#!"
                                class="badge bg-gray-500 text-white me-1 mb-1 px-3 py-1">Tag02</a></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-gray-200 border-0">
                <a href="#" class="btn btn-gray-800 text-uppercase h-0 me-2" data-bs-target="#modal-search" data-bs-toggle="modal">
                    <i class="bi bi-search fs-6 me-2 lh-1"></i>Buscar
                </a>
            </div>
        </div>
    </div>
</div>