<div class="collapse d-lg-block" id="collapseExample">
    <div class="accordion accordion-custom2" id="pesquisaDeputado">
        <div class="accordion-item border-0 border-bottom">
            <h2 class="accordion-header" id="legAtual">
                <button class="accordion-button btn-secondary text-uppercase rounded-0 rounded-top-lg-2 collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseLegAtual" aria-expanded="true"
                    aria-controls="collapseLegAtual">
                    <i class="bi bi-search fs-5 me-2 lh-1 d-none d-lg-block"></i> Lorem
                    ipsum dolor
                </button>
            </h2>
            <div id="collapseLegAtual" class="accordion-collapse collapse" aria-labelledby="legAtual"
                data-bs-parent="#pesquisaDeputado">
                <div class="accordion-body nav-custom2 bg-light border-start border-end">
                    <ul class="nav nav-pills d-flex flex-center" id="pills-tab-legAtual" role="tablist">
                        <li class="nav-item w-100 w-lg-auto mb-1 mb-lg-0" role="presentation">
                            <button class="w-100 w-lg-auto nav-link  me-0 me-lg-1 rounded-0 rounded-top-lg-1 active"
                                id="pills-situacao-tab" data-bs-toggle="pill" data-bs-target="#pills-situacao"
                                type="button" role="tab" aria-controls="pills-situacao" aria-selected="true">Lorem
                                Ipsum</button>
                        </li>
                        <li class="nav-item w-100 w-lg-auto mb-1 mb-lg-0" role="presentation">
                            <button class="w-100 w-lg-auto nav-link me-0 me-lg-1 rounded-0 rounded-top-lg-1"
                                id="pills-partido-tab" data-bs-toggle="pill" data-bs-target="#pills-partido"
                                type="button" role="tab" aria-controls="pills-partido" aria-selected="false">Dolor
                                Sit</button>
                        </li>
                        <li class="nav-item w-100 w-lg-auto mb-1 mb-lg-0" role="presentation">
                            <button class="w-100 w-lg-auto nav-link rounded-0 rounded-top-lg-1" id="pills-bloco-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-bloco" type="button" role="tab"
                                aria-controls="pills-bloco" aria-selected="false">Sit
                                Amet</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-3 border-0 border-top-lg" id="pills-tab-legAtual">
                        <div class="tab-pane fade show active" id="pills-situacao" role="tabpanel"
                            aria-labelledby="pills-situacao-tab">
                            <form class="row">
                                <div class="col-md-12 mt-0">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Lorem Ipsum</option>
                                        <option value="1">Lorem Ipsum</option>
                                    </select>
                                </div>
                                <div class="col-12 mt-3 text-end">
                                    <a href="#" class="w-100 w-lg-auto btn btn-gray-800 text-uppercase">
                                        <i class="bi bi-search fs-6 me-2 lh-1"></i>Buscar
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="pills-partido" role="tabpanel"
                            aria-labelledby="pills-partido-tab">
                            <form class="row">
                                <div class="col-md-12 mt-0">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Dolor Sit</option>
                                        <option value="1">Lorem Ipsum</option>
                                    </select>
                                </div>
                                <div class="col-12 mt-3 text-end">
                                    <a href="#" class="w-100 w-lg-auto btn btn-gray-800 text-uppercase">
                                        <i class="bi bi-search fs-6 me-2 lh-1"></i>Buscar
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="pills-bloco" role="tabpanel" aria-labelledby="pills-bloco-tab">
                            <form class="row">
                                <div class="col-md-12 mt-0">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Sit Amet</option>
                                        <option value="1">Lorem Ipsum</option>
                                    </select>
                                </div>
                                <div class="col-12 mt-3 text-end">
                                    <a href="#" class="w-100 w-lg-auto btn btn-gray-800 text-uppercase">
                                        <i class="bi bi-search fs-6 me-2 lh-1"></i>Buscar
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0">
            <h2 class="accordion-header" id="legAnterior">
                <button class="accordion-button collapsed text-uppercase rounded-0" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseLegAnterior" aria-expanded="false"
                    aria-controls="collapseLegAnterior">
                    <i class="bi bi-search fs-5 me-2 lh-1 d-none d-lg-block"></i> Repellat
                    soluta mollitia
                </button>
            </h2>
            <div id="collapseLegAnterior" class="accordion-collapse collapse" aria-labelledby="legAnterior"
                data-bs-parent="#pesquisaDeputado">
                <div class="accordion-body nav-custom2 bg-light border-start border-end border-bottom">
                    <ul class="nav nav-pills d-flex flex-center" id="pills-tab-legAnterior" role="tablist">
                        <li class="nav-item w-100 w-lg-auto mb-1 mb-lg-0" role="presentation">
                            <button class="w-100 w-lg-auto nav-link  me-0 me-lg-1 rounded-0 rounded-top-lg-1 active"
                                id="pills-14-18-tab" data-bs-toggle="pill" data-bs-target="#pills-14-18" type="button"
                                role="tab" aria-controls="pills-14-18" aria-selected="true">Lorem
                                Ipsum</button>
                        </li>
                        <li class="nav-item w-100 w-lg-auto mb-1 mb-lg-0" role="presentation">
                            <button class="w-100 w-lg-auto nav-link  me-0 me-lg-1 rounded-0 rounded-top-lg-1"
                                id="pills-1-13-tab" data-bs-toggle="pill" data-bs-target="#pills-1-13" type="button"
                                role="tab" aria-controls="pills-1-13" aria-selected="false">Dolor
                                Sit</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-3 border-0 border-top-lg" id="pills-tab-legAnterior">
                        <div class="tab-pane fade show active" id="pills-14-18" role="tabpanel"
                            aria-labelledby="pills-14-18-tab">
                            <form class="row">
                                <div class="col-12 col-md-6 mt-0">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Lorem Ipsum</option>
                                        <option value="1">Lorem Ipsum</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mt-2 mt-lg-0">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Lorem Ipsum</option>
                                        <option value="1">Lorem Ipsum</option>
                                    </select>
                                </div>
                                <div class="col-12 mt-3 text-end">
                                    <a href="#" class="w-100 w-lg-auto btn btn-gray-800 text-uppercase">
                                        <i class="bi bi-search fs-6 me-2 lh-1"></i>Buscar
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="pills-1-13" role="tabpanel" aria-labelledby="pills-1-13-tab">
                            <form class="row">
                                <div class="col-12 col-md-6 mt-0">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Dolor Sit</option>
                                        <option value="1">Lorem Ipsum</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mt-2 mt-lg-0">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Dolor Sit</option>
                                        <option value="1">Lorem Ipsum</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mt-2">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Dolor Sit</option>
                                        <option value="1">Lorem Ipsum</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mt-2">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Dolor Sit</option>
                                        <option value="1">Lorem Ipsum</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
