<!--Fullscreen-element - Search box-->
<div class="fullscreen-wrapper text-white">
    <!--fullscreen close-->
    <a href="#" class="fullscreen-close text-white" data-as-toggle="fullscreen">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" width="16" height="16"
            viewBox="0 0 128 128">
            <g>
                <path stroke="currentColor" stroke-width="8" stroke-linecap="square" fill="none"
                    d="M7 7l114 114m0-114l-114 114"></path>
            </g>
        </svg>
    </a>
    <div class="fullscreen-inner">
        <ul class="fullscreen-list list-unstyled mb-0 w-100">
            <li class="fullscreen-item">
                <div class="container mb-5 mb-lg-7">
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center">
                                    <span><i class="bx bx-search fs-4 text-muted"></i></span>
                                    <input
                                        class="form-control form-control-lg shadow-none border-0 fs-2 text-white bg-transparent"
                                        type="text" placeholder="Type and hit enter..." autofocus="">
                                </div>
                            </div>
                            <div class="col-1 d-none">
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-white rounded-0" type="button">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <li class="fullscreen-item">
                <div class="container">
                    <h6 class="mb-4">Popular Categories</h6>
                    <div class="row mb-5">
                        <div class="col-md-8 col-lg-6 mb-4">
                            <div class="d-flex flex-wrap align-items-center g-2">
                                <span><a href="#!"
                                        class="badge badge-pill bg-primary text-white me-2 mb-2 px-3 py-2">Jeans</a></span>
                                <span>
                                    <a href="#!"
                                        class="badge badge-pill bg-primary text-white me-2 mb-2 px-3 py-2">Shoes</a>
                                </span>
                                <span>
                                    <a href="#!"
                                        class="badge badge-pill bg-primary text-white me-2 mb-2 px-3 py-2">Watches</a>
                                </span>
                                <span>
                                    <a href="#!"
                                        class="badge badge-pill bg-primary text-white me-2 mb-2 px-3 py-2">Men's</a>
                                </span>
                                <span>
                                    <a href="#!"
                                        class="badge badge-pill bg-primary text-white me-2 mb-2 px-3 py-2">Sneakers</a>
                                </span>
                                <span>
                                    <a href="#!"
                                        class="badge badge-pill bg-primary text-white me-2 mb-2 px-3 py-2">Casual</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </li>
        </ul>
    </div>
</div>