<section>
    
    <div class="container-fluid container-lg px-xl-15 pt-0 pb-4 py-lg-6">
        @@include('../share/almg-share.html')
        <div class="row">

            <div class="col-12 px-0 px-lg-2">

                <p class="d-none d-lg-block mb-0 mb-lg-4">Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Maiores, nihil ipsa tempore sapiente non temporibus architecto vel
                    totam hic eligendi. Non hic beatae commodi velit impedit magnam voluptate est ipsam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat soluta mollitia vel
                    doloribus iste laudantium dicta, error porro minus quo ex qui quam saepe, ea voluptatum
                    ducimus consectetur velit aliquid.
                </p>

                @@include('../search/almg-search-form.html')

            </div>

            <div class="col-12 col-lg-6 mt-4">
                <input class="form-control" type="text" placeholder="Filtrar" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-end mt-4 ">
                <p>3 Lorem encontrados <i class="bi bi-arrow-down-short fs-5"></i>
                </p>

            </div>

            <div class="col-12">
                <ul class="list-group mt-2 rounded-0">
                    <li class="list-group-item py-3">
                        <div class="d-flex align-items-center">
                            <div class="me-3 me-lg-4">
                                <i class="bi bi-image-fill text-gray-500 display-1 align-middle"></i>
                            </div>
                            <div class="flex-grow-1">
                                <div class="d-sm-flex align-items-center">
                                    <div class="w-100 w-lg-40">
                                        <p class="mb-0 small">Dolar Sit</p>
                                        <a class="h5 link-gray-800 d-block mb-1" href="#!">Lorem Ipsum Dolar
                                            Amet</a>
                                        <div class="h5 mb-0">
                                            <span class="badge badge-pill bg-gray-500">Amet</span>
                                            <span class="badge badge-pill bg-gray-500">Sed</span>
                                        </div>
                                    </div>
                                    <div class="w-60 d-none d-lg-block">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
                                            quia sapiente atque architecto unde, sed accusantium numquam
                                            doloribus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item py-3 bg-light">
                        <div class="d-flex align-items-center">
                            <div class="me-3 me-lg-4">
                                <i class="bi bi-image-fill text-gray-500 display-1 align-middle"></i>
                            </div>
                            <div class="flex-grow-1">
                                <div class="d-sm-flex align-items-center">
                                    <div class="w-100 w-lg-40">
                                        <p class="mb-0 small">Dolar Sit</p>
                                        <a class="h5 link-gray-800 d-block mb-1" href="#!">Lorem Ipsum Dolar
                                            Amet</a>
                                        <div class="h5 mb-0">
                                            <span class="badge badge-pill bg-gray-500">Amet</span>
                                            <span class="badge badge-pill bg-gray-500">Sed</span>
                                        </div>
                                    </div>
                                    <div class="w-60 d-none d-lg-block">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
                                            quia sapiente atque architecto unde, sed accusantium numquam
                                            doloribus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item py-3">
                        <div class="d-flex align-items-center">
                            <div class="me-3 me-lg-4">
                                <i class="bi bi-image-fill text-gray-500 display-1 align-middle"></i>
                            </div>
                            <div class="flex-grow-1">
                                <div class="d-sm-flex align-items-center">
                                    <div class="w-100 w-lg-40">
                                        <p class="mb-0 small">Dolar Sit</p>
                                        <a class="h5 link-gray-800 d-block mb-1" href="#!">Lorem Ipsum Dolar
                                            Amet</a>
                                        <div class="h5 mb-0">
                                            <span class="badge badge-pill bg-gray-500">Amet</span>
                                            <span class="badge badge-pill bg-gray-500">Sed</span>
                                        </div>
                                    </div>
                                    <div class="w-60 d-none d-lg-block">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
                                            quia sapiente atque architecto unde, sed accusantium numquam
                                            doloribus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-6">
                    <ul class="pagination pagination">
                        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Próxima</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>