<!--Search bar modal-->
<div id="modal-search" class="modal fade" tabindex="-1" aria-labelledby="modal-search-bar-2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content position-relative border-0">
            <div class="position-relative px-4">
                <div
                    class="position-absolute end-0 width-7x top-0 d-flex me-4 align-items-center h-100 justify-content-center">
                    <button type="button" class="btn-close w-auto small" data-bs-dismiss="modal"
                        aria-label="Close">Cancelar
                </div>
                <form class="mb-0">
                    <div class="d-flex align-items-center">
                        <div class="d-flex flex-grow-1 align-items-center">
                            <i class="bx bx-search opacity-25"></i>
                            <input type="text" placeholder="pesquisar..."
                                class="form-control shadow-none border-0 flex-grow-1 form-control-lg">
                        </div>
                    </div>
                </form>
            </div>
            <div class="p-4 border-top">
                <h6 class="mb-4">
                    <i class="bx bx-lightning me-2 text-muted"></i>Mais pesquisados
                </h6>
                <div class="d-flex flex-wrap align-items-center">
                    <span><a href="#!"
                            class="badge badge-pill border border-secondary text-body me-1 mb-1 px-3 py-1">Tag 01</a></span>
                    <span><a href="#!"
                            class="badge badge-pill border border-secondary text-body me-1 mb-1 px-3 py-1">Tag 01</a></span>
                </div>
            </div>
        </div>
    </div>
</div>