<div class="container my-4 my-lg-8">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <article class="article mb-4">
                <div class="position-absolute d-none d-xl-block" style="margin-top: 40px; margin-left: -100px;">
                    <button name="Compartilhar" class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block border-bottom" data-bs-toggle="modal" data-bs-target="#modal-share">
                        <i class="bi bi-share-fill text-white"></i><span class="d-none">Compartilhar</span>
                    </button>
                    <button name="Gerar PDF" class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block border-bottom" href="#open">
                        <i class="bi bi-file-pdf-fill text-white"></i><span class="d-none">Gerar PDF</span>
                    </button>
                    <button name="Imprimir" class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block" href="#">
                        <i class="bi bi-printer-fill text-white"></i><span class="d-none">Imprimir</span>
                    </button>
                </div>

                <!--Modal basic-->
                <div class="modal fade" id="modal-share" tabindex="-1" aria-labelledby="modalBasicLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content border-0">
                            <div class="modal-header border-0 bg-gray-500">
                                <h5 class="modal-title text-white">Compartilhar</h5>
                                <!--Close button-->
                                <button type="button" class="btn btn-outline-gray-100 p-0 border-2 width-3x height-3x rounded-circle flex-center z-index-1" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="bx bx-x fs-5"></i>
                                </button>
                            </div>
                            <div class="modal-body pt-4 pb-0 border-0 bg-white">
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-whatsapp flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-whatsapp fs-5 me-2"></i>
                                        <span>whatsapp</span>
                                    </div>
                                </a>
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-facebook flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-facebook fs-5 me-2"></i>
                                        <span>Facebook</span>
                                    </div>
                                </a>
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-twitter flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-twitter fs-5 me-2"></i>
                                        <span>Twitter</span>
                                    </div>
                                </a>
                            </div>
                            <div class="modal-footer bg-white border-0">
                
                            </div>
                        </div>
                    </div>
                </div>

                <!--page-hero-->
                <section class="position-relative bg-white">
                    <div class="container pt-7 pt-lg-0 pb-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-6 mx-auto mx-md-0">
                                <div class="position-relative">
                                    <!--Hero illustration-->
                                    <img src="../assets/img/graphics/illustration/01.svg"
                                        class="img-fluid position-relative w-100 mx-auto d-block" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 mb-5 mb-md-0">
                                <!--Hero heading-->
                                <h1 class="display-2 mb-4 ls--2">A muitas mãos</h1>
                                <!--Hero subheading-->
                                <p class="mb-5 lead">
                                    É assim que definimos a agenda pública de Minas Gerais
                                </p>
                                <!--Hero action-->
                                <a href="#" data-bigpicture='{"ytSrc": "R5Dr-L8TrpU", "noLoader": "true"}'
                                    class="btn btn-lg btn-hover-arrow btn-primary hover-lift"><i
                                        class="bi bi-play-circle-fill fs-2 lh-1 align-middle me-2"></i> Conheça o
                                    PPAG</a>
                            </div>

                        </div>
                    </div>
                    <!--/.end-container-->
                </section>
                <!--/.end-hero-->
                <p> A elaboração participativa do Plano Plurianual de Ação Governamental (PPAG) abre o ciclo
                    orçamentário do Estado para os próximos 4 anos. Os programas e as ações dos eixos temáticos do plano
                    são revisados nesse período, também de forma participativa. </p>


                <section class="position-relative">
                    <div class="container py-6 position-relative z-index-1">
                        <div class="row align-items-center">
                            <div class="row">
                                <div class="col-md-4">

                                    <!-- Tabs -->
                                    <nav class="mb-4">
                                        <div class="nav nav-pills nav-tabs-vertical" role="tablist">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#tab-home" role="tab"
                                                aria-selected="true">PPAG na Pandemia</a>
                                            <a class="nav-link" data-bs-toggle="tab" href="#tab-sistema" role="tab"
                                                aria-selected="false"> O sistema de planejamento e orçamento</a>
                                            <a class="nav-link" data-bs-toggle="tab" href="#tab-participacao" role="tab"
                                                aria-selected="false"> O PPAG e a participação popular</a>
                                            <a class="nav-link" data-bs-toggle="tab" href="#tab-sugestoes" role="tab"
                                                aria-selected="false"> O que é feito com as sugestões apresentadas pela
                                                população?</a>
                                        </div>
                                    </nav>
                                </div>
                                <div class="col-md-8 col-lg-7 ms-lg-auto">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="tab-home" role="tabpanel">
                                            <p> Desde o início das restrições sanitárias impostas pela disseminação
                                                da <mark>pandemia de Covid-19,</mark> a Assembleia de Minas adotou um
                                                conjunto de
                                                medidas de segurança para adequação de seu funcionamento, para garantir
                                                o exercício de suas funções constitucionais e, ao mesmo tempo, preservar
                                                a integridade e a saúde de todos.</p>

                                            <p>Por esse motivo, a Discussão Participativa do Plano Plurianual de Ação
                                                Governamental (PPAG) também precisou ser adaptada. Da mesma maneira
                                                como foi feito no ano passado, o processo participativo em 2021 será
                                                realizado de <mark>forma virtual</mark> por meio de duas frentes de
                                                trabalho:</p>
                                            <ul>
                                                <li><a href="#">Consulta pública</a> temática, pelo Portal da
                                                    Assembleia, aberta a todos os interessados.</li>
                                                <li><a href="#">Encontros on-line</a> com entidades da sociedade
                                                    civil convidadas.</li>
                                            </ul>

                                            <h6>Consulte:</h6>
                                            <ul>
                                                <li><a href="#">Projeto de Lei (PL) 3.191/21</a>, que contém o
                                                    Orçamento do Estado para 2022</li>
                                                <li><a href="#">Projeto de Lei (PL) 3.192/21</a>, que contém a
                                                    revisão do PPAG para 2022</li>
                                            </ul>

                                        </div>
                                        <div class="tab-pane fade" id="tab-sistema" role="tabpanel">
                                            <p>O sistema de planejamento e orçamento é o conjunto das leis, previstas
                                                pela Constituição Federal e pela Constituição Estadual, que compõem o
                                                Orçamento Público. Por meio dessas leis, o governo define como pretende
                                                gastar o dinheiro arrecadado por meio de tributos pagos pela sociedade
                                                e de outras fontes de receita.</p>

                                            <p>O Poder Executivo encaminha à Assembleia de Minas quatro projetos
                                                referentes
                                                ao planejamento e orçamento públicos que, depois de aprovados pelos
                                                deputados
                                                e sancionados pelo governador, tornam-se leis:</p>
                                            <ul>
                                                <li>Plano Mineiro de Desenvolvimento Integrado (PMDI)<br />
                                                    <a href="#">Consulte a Lei 23.577, de 2020 - PMDI em vigor</a>
                                                </li>
                                                <li>Plano Plurianual de Ação Governamental (PPAG)<br />
                                                    <a href="#">Consulte a Lei 23.578, de 2020 - PPAG em vigor</a>
                                                </li>
                                                <li>Lei de Diretrizes Orçamentárias (LDO)<br />
                                                    <a href="#">Consulte a Lei 23.831, de 2021 - LDO em vigor</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="tab-participacao" role="tabpanel">
                                            <p>O Plano Plurianual de Ação Governamental (PPAG) é o <mark>planejamento
                                                    da atuação do Estado para um período de quatro anos</mark>, sendo
                                                revisto
                                                anualmente para adequá-lo ao Orçamento do próximo ano.
                                            </p>
                                            <p>Essa revisão do Poder Executivo é enviada obrigatoriamente à
                                                Assembleia de Minas, até 30 de setembro de cada ano, para
                                                análise e discussão pelos deputados e deputadas.
                                            </p>
                                            <p>Por conter informações que deixam claro em <mark>que, como, onde,
                                                    quando e com qual objetivo</mark> o Estado pretende investir os
                                                recursos públicos, o PPAG torna-se uma peça fundamental para
                                                que a população discuta e participe das decisões sobre o
                                                planejamento do Estado.
                                            </p>
                                            <p>Por isso, a ALMG, por meio das Comissões de Participação Popular
                                                e de Fiscalização Financeira e Orçamentária, realiza, anualmente,
                                                processo de discussão participativa do Plano Plurianual, tanto em
                                                sua fase de elaboração, quanto nas revisões que o governo envia
                                                para o Parlamento.
                                            </p>
                                            <p>O objetivo da Assembleia é envolver os interessados na discussão do
                                                plano e na apresentação de sugestões para aprimorar o planejamento
                                                do Estado, por meio de atividades realizadas entre <mark>outubro e
                                                    novembro
                                                    de cada ano.</mark>
                                            </p>
                                        </div>

                                        <div class="tab-pane fade" id="tab-sugestoes" role="tabpanel">
                                            <p>Após o evento de discussão participativa do PPAG, todas as sugestões
                                                apresentadas são analisadas e discutidas na Assembleia. Elas podem
                                                virar:</p>
                                            <ul>
                                                <li>
                                                    <mark>Emendas</mark> ao projeto do Plano Plurianual e/ou ao projeto
                                                    da Lei Orçamentária
                                                    Anual (LOA).
                                                </li>
                                                <li>
                                                    <mark>Requerimentos</mark> a serem enviados pela Assembleia com
                                                    solicitação de informações
                                                    ou providências ao poder público ou a entidades privadas.
                                                </li>
                                            </ul>

                                            <p>As sugestões passam pelo seguinte processo:</p>
                                            <ul>
                                                <li>
                                                    <mark>Comissão de Participação Popular:</mark> análise e aglutinação
                                                    das sugestões populares
                                                    em Propostas de Ação Legislativa (PLEs), que podem concluir pela
                                                    proposição de
                                                    emendas ao PPAG e/ou Orçamento e/ou pelo envio de requerimentos (que
                                                    também são
                                                    apreciados pelas comissões temáticas) ao poder público ou a
                                                    entidades privadas.
                                                </li>
                                                <li>
                                                    <mark>Comissão de Fiscalização Financeira e Orçamentária:</mark>
                                                    caso as sugestões resultem
                                                    em emendas ao Plano Plurianual ou ao Orçamento, essa comissão fica
                                                    responsável
                                                    por analisá-las e votar parecer sobre elas, antes da apreciação pelo
                                                    Plenário
                                                    da Assembleia.
                                                </li>
                                                <li>
                                                    <mark>Plenário:</mark> votação, em turno único, do projeto de lei do
                                                    PPAG e do Orçamento.
                                                </li>
                                            </ul>
                                            <p>Após a aprovação do Orçamento e da Revisão do Plano Plurianual, a
                                                sociedade
                                                pode acompanhar os desdobramentos desse processo por meio de Boletins de
                                                Monitoramento das Sugestões Populares.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <!--<section class="position-relative">
                    <div class="container py-9 py-lg-11 position-relative z-index-1">
                        <div class="row align-items-center">
                            <div class="col-lg-12 mx-auto">
                                <div>-->
                <!-- Tabs -->
                <!--<nav class="mb-4 nav nav-tabs" role="tablist">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#tab2-home" role="tab" aria-selected="true">PPAG na Pandemia</a>
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab2-sistema" role="tab" aria-selected="false">O sistema de planejamento<br />e orçamento</a>
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab2-participacao" role="tab" aria-selected="false">O PPAG e a participação<br /> popular</a>
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab2-sugestoes" role="tab" aria-selected="false">O que é feito com as <br />sugestões apresentadas <br />pela população?</a>
                                    </nav>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tab2-home" role="tabpanel">
                                            <p> Desde o início das restrições sanitárias impostas pela disseminação 
                                                da <mark>pandemia de Covid-19,</mark> a Assembleia de Minas adotou um conjunto de 
                                                medidas de segurança para adequação de seu funcionamento, para garantir 
                                                o exercício de suas funções constitucionais e, ao mesmo tempo, preservar 
                                                a integridade e a saúde de todos.</p>

                                             <p>Por esse motivo, a Discussão Participativa do Plano Plurianual de Ação 
                                                 Governamental (PPAG) também precisou ser adaptada. Da mesma maneira 
                                                 como foi feito no ano passado, o processo participativo em 2021 será 
                                                 realizado de <mark>forma virtual</mark> por meio de duas frentes de trabalho:</p>
                                                 <ul>
                                                     <li><a href="#">Consulta pública</a> temática, pelo Portal da 
                                                         Assembleia, aberta a todos os interessados.</li>
                                                     <li><a href="#">Encontros on-line</a> com entidades da sociedade 
                                                         civil convidadas.</li>
                                                 </ul>

                                                 <h6>Consulte:</h6>
                                                 <ul>
                                                     <li><a href="#">Projeto de Lei (PL) 3.191/21</a>, que contém o 
                                                         Orçamento do Estado para 2022</li>
                                                     <li><a href="#">Projeto de Lei (PL) 3.192/21</a>, que contém a 
                                                         revisão do PPAG para 2022</li>
                                                 </ul>
                                        </div>
                                        <div class="tab-pane fade" id="tab2-sistema" role="tabpanel">
                                            <p>O sistema de planejamento e orçamento é o conjunto das leis, previstas 
                                                pela Constituição Federal e pela Constituição Estadual, que compõem o 
                                                Orçamento Público. Por meio dessas leis, o governo define como pretende 
                                                gastar o dinheiro arrecadado por meio de tributos pagos pela sociedade 
                                                e de outras fontes de receita.</p>

                                                <p>O Poder Executivo encaminha à Assembleia de Minas quatro projetos referentes 
                                                ao planejamento e orçamento públicos que, depois de aprovados pelos deputados 
                                                e sancionados pelo governador, tornam-se leis:</p>
                                                <ul>
                                                    <li>Plano Mineiro de Desenvolvimento Integrado (PMDI)<br />
                                                        <a href="#">Consulte a Lei 23.577, de 2020 - PMDI em vigor</a>
                                                    </li>
                                                    <li>Plano Plurianual de Ação Governamental (PPAG)<br />
                                                        <a href="#">Consulte a Lei 23.578, de 2020 - PPAG em vigor</a>
                                                    </li>
                                                    <li>Lei de Diretrizes Orçamentárias (LDO)<br />
                                                        <a href="#">Consulte a Lei 23.831, de 2021 - LDO em vigor</a>
                                                    </li>
                                                </ul>
                                        </div>
                                        <div class="tab-pane fade" id="tab2-participacao" role="tabpanel">
                                            <p>O Plano Plurianual de Ação Governamental (PPAG) é o <mark>planejamento 
                                                da atuação do Estado para um período de quatro anos</mark>, sendo revisto 
                                                anualmente para adequá-lo ao Orçamento do próximo ano.
                                                </p>
                                                <p>Essa revisão do Poder Executivo é enviada obrigatoriamente à 
                                                    Assembleia de Minas, até 30 de setembro de cada ano, para 
                                                    análise e discussão pelos deputados e deputadas.
                                                </p>
                                                <p>Por conter informações que deixam claro em <mark>que, como, onde, 
                                                    quando e com qual objetivo</mark> o Estado pretende investir os 
                                                    recursos públicos, o PPAG torna-se uma peça fundamental para 
                                                    que a população discuta e participe das decisões sobre o 
                                                    planejamento do Estado.
                                                </p>
                                                <p>Por isso, a ALMG, por meio das Comissões de Participação Popular 
                                                    e de Fiscalização Financeira e Orçamentária, realiza, anualmente, 
                                                    processo de discussão participativa do Plano Plurianual, tanto em 
                                                    sua fase de elaboração, quanto nas revisões que o governo envia 
                                                    para o Parlamento.
                                                </p>
                                                <p>O objetivo da Assembleia é envolver os interessados na discussão do 
                                                    plano e na apresentação de sugestões para aprimorar o planejamento 
                                                    do Estado, por meio de atividades realizadas entre <mark>outubro e novembro 
                                                    de cada ano.</mark>
                                                </p>
                                        </div>
                                        <div class="tab-pane fade" id="tab2-sugestoes" role="tabpanel">
                                            <p>Após o evento de discussão participativa do PPAG, todas as sugestões 
                                                apresentadas são analisadas e discutidas na Assembleia. Elas podem virar:</p>
                                                <ul>
                                                    <li>
                                                        <mark>Emendas</mark> ao projeto do Plano Plurianual e/ou ao projeto da Lei Orçamentária 
                                                        Anual (LOA).
                                                    </li>
                                                    <li>
                                                        <mark>Requerimentos</mark> a serem enviados pela Assembleia com solicitação de informações
                                                        ou providências ao poder público ou a entidades privadas.
                                                    </li>
                                                </ul>

                                                <p>As sugestões passam pelo seguinte processo:</p>
                                                <ul>
                                                    <li>
                                                        <mark>Comissão de Participação Popular:</mark> análise e aglutinação das sugestões populares
                                                        em Propostas de Ação Legislativa (PLEs), que podem concluir pela proposição de 
                                                        emendas ao PPAG e/ou Orçamento e/ou pelo envio de requerimentos (que também são 
                                                        apreciados pelas comissões temáticas) ao poder público ou a entidades privadas.
                                                    </li>
                                                    <li>
                                                        <mark>Comissão de Fiscalização Financeira e Orçamentária:</mark> caso as sugestões resultem 
                                                        em emendas ao Plano Plurianual ou ao Orçamento, essa comissão fica responsável 
                                                        por analisá-las e votar parecer sobre elas, antes da apreciação pelo Plenário 
                                                        da Assembleia.
                                                    </li>
                                                    <li>
                                                        <mark>Plenário:</mark> votação, em turno único, do projeto de lei do PPAG e do Orçamento.
                                                    </li>
                                                </ul>
                                                <p>Após a aprovação do Orçamento e da Revisão do Plano Plurianual, a sociedade 
                                                pode acompanhar os desdobramentos desse processo por meio de Boletins de 
                                                Monitoramento das Sugestões Populares.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>-->


            </article>

            <!--/.article-->
        </div>



        <!--Call to action-->
        <div class="container py-4">
            <div class="px-4 rounded-3 shadow-lg py-6 px-lg-5 py-lg-7 bg-gradient-secondary 
                    text-white position-relative overflow-hidden">

                <div class="row align-items-end position-relative">
                    <div class="col-lg-6 col-xl-7">
                        <h1 class="mb-5 mb-md-0 display-5">Consulta pública</h1>
                        <h5 class="text-muted mb-4">A consulta foi encerrada, mas você ainda pode ver as participações
                        </h5>
                    </div>
                    <div class="col-lg-6 col-xl-5 text-lg-end">
                        <a href="#!" class="btn btn-secondary btn-lg me-2 mb-2 mb-lg-0">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Call to action end-->



    </div>
</div>