<div class="container mt-4 mt-lg-8">
    <div class="row justify-content-between align-items-end">
        <div class="col-xl-9 mx-auto">
            <div class="position-absolute d-none d-xl-block" style="margin-top: 40px; margin-left: -100px;">
                <button class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block border-bottom" data-bs-toggle="modal" data-bs-target="#modal-share">
                    <i class="bi bi-share-fill text-white"></i>
                </button>
                <a class="bg-gray-500 fs-4 px-2 py-1 d-block border-bottom" href="#open">
                    <i class="bi bi-file-pdf-fill text-white"></i>
                </a>
                <a class="bg-gray-500 fs-4 px-2 py-1 d-block" href="#">
                    <i class="bi bi-printer-fill text-white"></i>
                </a>
            </div>

            <!--Modal basic-->
            <div class="modal fade" id="modal-share" tabindex="-1" aria-labelledby="modalBasicLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content border-0">
                        <div class="modal-header border-0 bg-secondary">
                            <h5 class="modal-title text-white">Compartilhar</h5>
                            <!--Close button-->
                            <button type="button" class="btn btn-gray-800 p-0 border-2 width-3x height-3x rounded-circle flex-center z-index-1" data-bs-dismiss="modal" aria-label="Close">
                                <i class="bx bx-x fs-5"></i>
                            </button>
                        </div>
                        <div class="modal-body pt-4 pb-0 border-0 bg-white">
                            <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-whatsapp flex-center">
                                <!--Main Icon-->
                                <div class="position-relative d-flex align-items-center">
                                    <i class="bx bxl-whatsapp fs-5 me-2"></i>
                                    <span>whatsapp</span>
                                </div>
                            </a>
                            <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-facebook flex-center">
                                <!--Main Icon-->
                                <div class="position-relative d-flex align-items-center">
                                    <i class="bx bxl-facebook fs-5 me-2"></i>
                                    <span>Facebook</span>
                                </div>
                            </a>
                            <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-twitter flex-center">
                                <!--Main Icon-->
                                <div class="position-relative d-flex align-items-center">
                                    <i class="bx bxl-twitter fs-5 me-2"></i>
                                    <span>Twitter</span>
                                </div>
                            </a>
                        </div>
                        <div class="modal-footer bg-white border-0">
                
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <span class="h6 text-muted">Lorem ipsum dolor</span>
            </div>
            <h1 class="mb-4 ls--2">Lorem ipsum dolor sit amet
            </h1>
            <p class="lead mb-4">
                Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                soluta nobis
                est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                possimus,
                omnis voluptas
                assumenda est, omnis dolor repellendus.
            </p>
            <small class="mb-6 d-block">21/03/2022</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra nam libero justo laoreet. Suscipit adipiscing bibendum est ultricies integer quis auctor elit. Mauris pellentesque pulvinar pellentesque habitant morbi. Sapien nec sagittis aliquam malesuada. Purus sit amet volutpat consequat mauris. Imperdiet sed euismod nisi porta lorem mollis. Risus quis varius quam quisque id diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Sit amet massa vitae tortor condimentum lacinia quis vel eros. Diam vel quam elementum pulvinar etiam non. Nisl rhoncus mattis rhoncus urna. Vel elit scelerisque mauris pellentesque. Molestie a iaculis at erat pellentesque adipiscing commodo elit at. Faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper.</p>
        </div>
    </div>
</div>