<section class="position-relative jarallax bg-light border-top border-top-lg-0" data-jarallax=".3">
    <div class="container py-6">
        <div class="row align-items-center" style="height: 25vh!important;">
            <div class="col-12">
                <h1 class="text-white bg-primary d-inline-block px-3 py-1">Lorem ipsum dolor sit amet</h1>
            </div>
        </div>
    </div>

    <div id="jarallax-container-0">
        <img src="https://mediaserver.almg.gov.br/acervo/236/910/1236910.jpg" alt=""
            class="jarallax-img img-fluid"/>
    </div>
</section>