<div class="container my-4 my-lg-8">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <article class="article mb-4">
                <div class="position-absolute d-none d-xl-block" style="margin-top: 40px; margin-left: -100px;">
                    <button name="Compartilhar" class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block border-bottom" data-bs-toggle="modal" data-bs-target="#modal-share">
                        <i class="bi bi-share-fill text-white"></i><span class="d-none">Compartilhar</span>
                    </button>
                    <button name="Gerar PDF" class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block border-bottom" href="#open">
                        <i class="bi bi-file-pdf-fill text-white"></i><span class="d-none">Gerar PDF</span>
                    </button>
                    <button name="Imprimir" class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block" href="#">
                        <i class="bi bi-printer-fill text-white"></i><span class="d-none">Imprimir</span>
                    </button>
                </div>

                <!--Modal basic-->
                <div class="modal fade" id="modal-share" tabindex="-1" aria-labelledby="modalBasicLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content border-0">
                            <div class="modal-header border-0 bg-gray-500">
                                <h5 class="modal-title text-white">Compartilhar</h5>
                                <!--Close button-->
                                <button type="button" class="btn btn-outline-gray-100 p-0 border-2 width-3x height-3x rounded-circle flex-center z-index-1" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="bx bx-x fs-5"></i>
                                </button>
                            </div>
                            <div class="modal-body pt-4 pb-0 border-0 bg-white">
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-whatsapp flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-whatsapp fs-5 me-2"></i>
                                        <span>whatsapp</span>
                                    </div>
                                </a>
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-facebook flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-facebook fs-5 me-2"></i>
                                        <span>Facebook</span>
                                    </div>
                                </a>
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-twitter flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-twitter fs-5 me-2"></i>
                                        <span>Twitter</span>
                                    </div>
                                </a>
                            </div>
                            <div class="modal-footer bg-white border-0">
                
                            </div>
                        </div>
                    </div>
                </div>
                <p>Para disponibilizar mais informações sobre o ciclo orçamentário 
                    do Estado e seus instrumentos, a Assembleia de Minas disponibiliza 
                    o curso a distância Planejamento e Orçamento Público. As inscrições 
                    são gratuitas.</p>

            </article>

            <!--/.article-->
                        
                        
 
 
            <!--Card-->
            <div class="card align-items-md-center rounded-0 shadow-lg flex-md-row flex-column overflow-hidden
             border-0 bg-white">
               <div class="col-md-6">
                   <!--Image-->
                   <img src="/assets/img/1200x600/close-up-education-economy-objects.jpg" alt="" class="img-fluid">
               </div>
               <div class="card-body h-100 p-4 px-lg-6 py-lg-6 flex-grow-1">
                   <p class="fs-4 mb-4">
                       Planejamento e Orçamento Público
                   
                   <div class="mb-5">
                       <h5 class="mb-2">De 20/9 a 15/12/21</h5>
                       <small class="d-block lh-1 text-muted"> na plataforma EAD</small>
                   </div>
                   <a href="#" class="btn btn-outline-secondary btn-hover-arrow">
                       <span>Inscreva-se</span>
                   </a>
               </div>
           </div>
        
        



        </div>
    </div>
</div>