<div class="container my-4 my-lg-8">
    <div class="row">
        <div class="col-xl-10 mx-auto">
            <article class="article mb-4">
                <div class="position-absolute d-none d-xl-block" style="margin-top: 40px; margin-left: -100px;">
                    <button class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block border-bottom" data-bs-toggle="modal" data-bs-target="#modal-share">
                        <i class="bi bi-share-fill text-white"></i>
                    </button>
                    <a class="bg-gray-500 fs-4 px-2 py-1 d-block border-bottom" href="#open">
                        <i class="bi bi-file-pdf-fill text-white"></i>
                    </a>
                    <a class="bg-gray-500 fs-4 px-2 py-1 d-block" href="#">
                        <i class="bi bi-printer-fill text-white"></i>
                    </a>
                </div>

                <!--Modal basic-->
                <div class="modal fade" id="modal-share" tabindex="-1" aria-labelledby="modalBasicLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content border-0">
                            <div class="modal-header border-0 bg-gray-500">
                                <h5 class="modal-title text-white">Compartilhar</h5>
                                <!--Close button-->
                                <button type="button" class="btn btn-outline-gray-100 p-0 border-2 width-3x height-3x rounded-circle flex-center z-index-1" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="bx bx-x fs-5"></i>
                                </button>
                            </div>
                            <div class="modal-body pt-4 pb-0 border-0 bg-white">
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-whatsapp flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-whatsapp fs-5 me-2"></i>
                                        <span>whatsapp</span>
                                    </div>
                                </a>
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-facebook flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-facebook fs-5 me-2"></i>
                                        <span>Facebook</span>
                                    </div>
                                </a>
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-twitter flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-twitter fs-5 me-2"></i>
                                        <span>Twitter</span>
                                    </div>
                                </a>
                            </div>
                            <div class="modal-footer bg-white border-0">
                
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="mb-4 ls--2 h3">Lorem ipsum dolor
                </h1>
                <p class="lead mb-4">
                    Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                    soluta nobis.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Viverra nam libero justo laoreet. Suscipit adipiscing
                    bibendum est ultricies integer quis auctor elit. Mauris pellentesque pulvinar
                    pellentesque
                    habitant morbi. Sapien nec sagittis aliquam malesuada. Purus sit amet volutpat
                    consequat
                    mauris. Imperdiet sed euismod nisi porta lorem mollis. Risus quis varius quam
                    quisque id
                    diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Sit amet
                    massa
                    vitae tortor condimentum lacinia quis vel eros. Diam vel quam elementum pulvinar
                    etiam non.
                    Nisl rhoncus mattis rhoncus urna. Vel elit scelerisque mauris pellentesque. Molestie
                    a
                    iaculis at erat pellentesque adipiscing commodo elit at. Faucibus et molestie ac
                    feugiat sed
                    lectus vestibulum mattis ullamcorper.
                </p>

                <ul class="step mx-3 mx-sm-0 list-unstyled mb-0 my-6">
                    <li class="step-item">
                        <div class="step-row">
                            <span class="step-icon bg-success text-white">
                                <!--ICON-DOT-->
                                <i class="bi bi-building align-middle lh-1 fs-4"></i>
                            </span>

                            <div class="step-content">
                                <div class="alert alert-success d-flex mb-0" role="alert">
                                    <i class="bi bi-calendar-check mt-1 me-4 fs-3"></i>
                                    <div class="">
                                        <h6 class="alert-heading">Lorem ipsum dolor sit amet</h6>
                                        <small class="d-block mb-2 ">25/11 14:30hs</small>
                                        <hr class="my-2">
                                        <p class="text-body mb-0">Molestie
                                            a
                                            iaculis at erat pellentesque adipiscing commodo elit at. Faucibus et
                                            molestie ac
                                            feugiat sed
                                            lectus vestibulum mattis ullamcorper.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                    <!--/.step-item-->
                    <li class="step-item">
                        <div class="step-row">
                            <span class="step-icon bg-gray-500 text-white">
                                <!--ICON-DOT-->
                                <i class="bi bi-chat-fill align-middle lh-1 fs-4"></i>
                            </span>

                            <div class="step-content">
                                <h6 class="mb-1">Lorem ipsum dolor sit amet</h6>
                                <small class="d-block mb-2 ">25/11 14:30hs</small>
                                <p class="mb-0">
                                    Imperdiet sed euismod nisi porta lorem mollis. Risus quis varius quam
                                    quisque id
                                    diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Sit amet
                                    massa
                                    vitae tortor condimentum lacinia quis vel eros. Diam vel quam elementum pulvinar
                                    etiam non.
                                </p>
                            </div>
                        </div>
                    </li>
                    <!--/.step-item-->
                    <li class="step-item">
                        <div class="step-row">
                            <span class="step-icon bg-gray-500 text-white">
                                <!--ICON-DOT-->
                                <i class="bi bi-check-circle-fill align-middle lh-1 fs-4"></i>
                            </span>

                            <div class="step-content">
                                <h6 class="mb-1">Lorem ipsum dolor sit amet</h6>
                                <small class="d-block mb-2 ">25/11 14:30hs</small>
                                <p class="mb-0">
                                    Imperdiet sed euismod nisi porta lorem mollis. Risus quis varius quam
                                    quisque id
                                    diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Sit amet
                                    massa
                                    vitae tortor condimentum lacinia quis vel eros. Diam vel quam elementum pulvinar
                                    etiam non.
                                </p>
                            </div>
                        </div>
                    </li>
                    <!--/.step-item-->
                </ul>

                <p>
                    Venenatis cras sed felis eget velit aliquet. Pharetra et ultrices neque ornare
                    aenean
                    euismod elementum. Gravida dictum fusce ut placerat. Facilisis mauris sit amet
                    massa. Nunc
                    scelerisque viverra mauris in aliquam. In iaculis nunc sed augue lacus. Pellentesque
                    habitant morbi tristique senectus et netus. Placerat duis ultricies lacus sed turpis
                    tincidunt. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Tincidunt
                    lobortis feugiat vivamus at augue eget arcu dictum. Amet porttitor eget dolor morbi
                    non arcu
                    risus. Mi tempus imperdiet nulla malesuada pellentesque. Lectus urna duis convallis
                    convallis. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra.
                </p>

                <h4 class="my-4">Harum quidem rerum facilis</h4>
                <p>
                    Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                    soluta nobis
                    est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                    possimus,
                    omnis voluptas
                    assumenda est, omnis dolor repellendus.
                </p>
                <p>
                    Suscipit adipiscing bibendum est ultricies integer quis auctor elit. Mauris
                    pellentesque
                    pulvinar pellentesque habitant morbi. Sapien nec sagittis aliquam malesuada. Purus
                    sit amet
                    volutpat consequat mauris. Imperdiet sed euismod nisi porta lorem mollis. Risus quis
                    varius
                    quam quisque id diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque
                    elit.
                    Sit amet massa vitae tortor condimentum lacinia quis vel eros. Diam vel quam
                    elementum
                    pulvinar etiam non. Nisl rhoncus mattis rhoncus urna. Vel elit scelerisque mauris
                    pellentesque. Molestie a iaculis at erat pellentesque adipiscing commodo elit at.
                    Faucibus
                    et molestie ac feugiat sed lectus vestibulum mattis ullamcorper.
                </p>
            </article>

            <!--/.article-->
        </div>
    </div>
</div>