<div class="container mb-4">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <article class="article mb-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Viverra nam libero justo laoreet. Suscipit adipiscing
                    bibendum est ultricies integer quis auctor elit. Mauris pellentesque pulvinar
                    pellentesque
                    habitant morbi. Sapien nec sagittis aliquam malesuada. Purus sit amet volutpat
                    consequat
                    mauris. Imperdiet sed euismod nisi porta lorem mollis. Risus quis varius quam
                    quisque id
                    diam. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Sit amet
                    massa
                    vitae tortor condimentum lacinia quis vel eros. Diam vel quam elementum pulvinar
                    etiam non.
                    Nisl rhoncus mattis rhoncus urna. Vel elit scelerisque mauris pellentesque. Molestie
                    a
                    iaculis at erat pellentesque adipiscing commodo elit at. Faucibus et molestie ac
                    feugiat sed
                    lectus vestibulum mattis ullamcorper.
                </p>

                
            </article>

            <!--/.article-->
        </div>
    </div>
</div>