<div class="container my-4 my-lg-8">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <article class="article">
                <div class="position-absolute d-none d-xl-block" style="margin-top: 40px; margin-left: -100px;">
                    <button aria-label="Compartilhar" class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block border-bottom" data-bs-toggle="modal" data-bs-target="#modal-share">
                        <i class="bi bi-share-fill text-white"></i><span class="d-none">Compartilhar</span>
                    </button>
                    <button aria-label="Gerar PDF" class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block border-bottom" href="#open">
                        <i class="bi bi-file-pdf-fill text-white"></i><span class="d-none">Gerar PDF</span>
                    </button>
                    <button aria-label="Imprimir" class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block" href="#">
                        <i class="bi bi-printer-fill text-white"></i><span class="d-none">Imprimir</span>
                    </button>
                </div>

                <!--Modal basic-->
                <div class="modal fade" id="modal-share" tabindex="-1" aria-labelledby="modalBasicLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content border-0">
                            <div class="modal-header border-0 bg-gray-500">
                                <h5 class="modal-title text-white">Compartilhar</h5>
                                <!--Close button-->
                                <button type="button" class="btn btn-outline-gray-100 p-0 border-2 width-3x height-3x rounded-circle flex-center z-index-1" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="bx bx-x fs-5"></i>
                                </button>
                            </div>
                            <div class="modal-body pt-4 pb-0 border-0 bg-white">
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-whatsapp flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-whatsapp fs-5 me-2"></i>
                                        <span>whatsapp</span>
                                    </div>
                                </a>
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-facebook flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-facebook fs-5 me-2"></i>
                                        <span>Facebook</span>
                                    </div>
                                </a>
                                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-twitter flex-center">
                                    <!--Main Icon-->
                                    <div class="position-relative d-flex align-items-center">
                                        <i class="bx bxl-twitter fs-5 me-2"></i>
                                        <span>Twitter</span>
                                    </div>
                                </a>
                            </div>
                            <div class="modal-footer bg-white border-0">
                
                            </div>
                        </div>
                    </div>
                </div>

                <!--page-hero-->
                <section class="position-relative bg-white">
                    <div class="container pt-7 pt-lg-0 pb-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-6 mx-auto mx-md-0">
                                <div class="position-relative">
                                    <!--Hero illustration-->
                                    <img src="../assets/img/graphics/illustration/01.svg"
                                        class="img-fluid position-relative w-100 mx-auto d-block" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 mb-5 mb-md-0">
                                <!--Hero heading-->
                                <h1 class="display-2 mb-4 ls--2">A muitas mãos</h1>
                                <!--Hero subheading-->
                                <p class="mb-5 lead">
                                    É assim que definimos a agenda pública de Minas Gerais
                                </p>
                                <!--Hero action-->
                                <a href="#" data-bigpicture='{"ytSrc": "R5Dr-L8TrpU", "noLoader": "true"}'
                                    class="btn btn-lg btn-hover-arrow btn-primary hover-lift"><i
                                        class="bi bi-play-circle-fill fs-2 lh-1 align-middle me-2"></i> Conheça o
                                    PPAG</a>
                            </div>

                        </div>
                    </div>
                    <!--/.end-container-->
                </section>
                <!--/.end-hero-->
            </article>

            <!--/.article-->
        </div>



        <!--Call to action-->
        <div class="container py-4">
            <div class="px-4 rounded-3 shadow-lg py-6 px-lg-5 py-lg-7 bg-gradient-secondary 
                    text-white position-relative overflow-hidden">

                <div class="row align-items-end position-relative">
                    <div class="col-lg-6 col-xl-7">
                        <h1 class="mb-5 mb-md-0 display-5">Consulta pública</h1>
                        <h5 class="text-muted mb-4">A consulta foi encerrada, mas você ainda pode ver as participações
                        </h5>
                    </div>
                    <div class="col-lg-6 col-xl-5 text-lg-end">
                        <a href="#!" class="btn btn-secondary btn-lg me-2 mb-2 mb-lg-0">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Call to action end-->



    </div>
</div>