<div class="container my-4 my-lg-8">
    <div class="row mb-6 mb-lg-8 justify-content-between align-items-end">
        <div class="col-xl-9 mx-auto">
            <div class="position-absolute d-none d-xl-block" style="margin-top: 40px; margin-left: -100px;">
                <a class="bg-gray-500 fs-4 px-2 py-1 d-block border-bottom share-button " href="#">
                    <i class="bi bi-share-fill text-white"></i>
                </a>
                <a class="bg-gray-500 fs-4 px-2 py-1 d-block border-bottom" href="#open">
                    <i class="bi bi-file-pdf-fill text-white"></i>
                </a>
                <a class="bg-gray-500 fs-4 px-2 py-1 d-block" href="#">
                    <i class="bi bi-printer-fill text-white"></i>
                </a>
            </div>

            <!--script>
                const shareButton = document.querySelector('.share-button');
                shareButton.addEventListener("click", async event => {
                    event.preventDefault();
                    try {
                        await navigator.share({ title: "Título da Página", url: "url da página" });
                        console.log("Dados compartilhados com sucesso.");
                    } catch (err) {
                        console.error("Compartilhamento falhou:", err.message);
                    }
                });
            </script-->
            <div class="mb-3 ">
                <span class="h6 text-muted">Lorem ipsum dolor</span>
            </div>
            <h1 class="mb-4 ls--2">Lorem ipsum dolor sit amet
            </h1>
            <p class="lead mb-0">
                Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                soluta nobis
                est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                possimus,
                omnis voluptas
                assumenda est, omnis dolor repellendus.
            </p>
        </div>
    </div>
</div>