<div class="position-absolute d-none d-xl-block" style="margin-top: 40px; margin-left: -100px;">
    <button class="btn btn-gray-500 rounded-0 fs-4 px-2 py-1 d-block border-bottom" data-bs-toggle="modal" data-bs-target="#modal-share">
        <i class="bi bi-share-fill text-white"></i><span class="d-none">Compartilhar</span>
    </button>
    <a class="bg-gray-500 fs-4 px-2 py-1 d-block border-bottom" href="#open">
        <i class="bi bi-file-pdf-fill text-white"></i><span class="d-none">Gerar PDF</span>
    </a>
    <a class="bg-gray-500 fs-4 px-2 py-1 d-block" href="#">
        <i class="bi bi-printer-fill text-white"></i><span class="d-none">Imprimir</span>
    </a>
</div>

<!--Modal basic-->
<div class="modal fade" id="modal-share" tabindex="-1" aria-labelledby="modalBasicLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header border-0 bg-gray-500">
                <h5 class="modal-title text-white">Compartilhar</h5>
                <!--Close button-->
                <button type="button" class="btn btn-outline-gray-100 p-0 border-2 width-3x height-3x rounded-circle flex-center z-index-1" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x fs-5"></i>
                </button>
            </div>
            <div class="modal-body pt-4 pb-0 border-0 bg-white">
                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-whatsapp flex-center">
                    <!--Main Icon-->
                    <div class="position-relative d-flex align-items-center">
                        <i class="bx bxl-whatsapp fs-5 me-2"></i>
                        <span>whatsapp</span>
                    </div>
                </a>
                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-facebook flex-center">
                    <!--Main Icon-->
                    <div class="position-relative d-flex align-items-center">
                        <i class="bx bxl-facebook fs-5 me-2"></i>
                        <span>Facebook</span>
                    </div>
                </a>
                <a href="#!" class="d-inline-flex btn w-100 mb-3 position-relative si-colored-twitter flex-center">
                    <!--Main Icon-->
                    <div class="position-relative d-flex align-items-center">
                        <i class="bx bxl-twitter fs-5 me-2"></i>
                        <span>Twitter</span>
                    </div>
                </a>
            </div>
            <div class="modal-footer bg-white border-0">
                
            </div>
        </div>
    </div>
</div>