<section class="position-relative bg-gray-100 d-none d-lg-block border-top border-bottom">
    <div class="container py-6 d-none d-lg-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb fw-semibold mb-0">
                <li class="breadcrumb-item">
                    <a href="#">Início</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">Lorem Ipsum</a>
                    <ul class="dropdown-menu border-2 border-gray-200">
                        <li><a class="dropdown-item link-gray-700 fw-semibold" href="#">Lorem ipsum</a></li>
                        <li><a class="dropdown-item link-gray-700 fw-semibold" href="#">Harum quidem rerum</a></li>
                        <li><a class="dropdown-item link-gray-700 fw-semibold" href="#">Nam libero tempore</a></li>
                        <li>
                            <hr class="my-1" />
                        </li>
                        <li><a class="dropdown-item link-gray-700 fw-semibold" href="#">Facere possimus</a></li>
                    </ul>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Esta página</li>
            </ol>
        </nav>
    </div>
</section>