<section class="position-relative bg-gray-100">
    <div class="container position-relative pt-6 pb-4 pb-lg-6">
        <div class="row align-items-center">
            <div class="col-12 mx-auto text-center">
                <nav class="d-none d-lg-flex justify-content-center" aria-label="breadcrumb">
                    <div class="mb-4">
                        <ul class="breadcrumb fw-semibold mb-0">
                            <li class="breadcrumb-item">
                                <a href="#" class="fw-semibold">Início</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#" class="fw-semibold" data-bs-toggle="dropdown" role="button" aria-expanded="false">Lorem Ipsum</a>
                                <ul class="dropdown-menu border-1 border-gray-200">
                                    <li><a class="dropdown-item fw-semibold" href="#">Lorem ipsum</a></li>
                                    <li><a class="dropdown-item fw-semibold" href="#">Harum quidem rerum</a></li>
                                    <li><a class="dropdown-item fw-semibold" href="#">Nam libero tempore</a></li>
                                    <li>
                                        <hr class="my-1" />
                                    </li>
                                    <li><a class="dropdown-item fw-semibold" href="#">Facere possimus</a></li>
                                </ul>
                            </li>
                            <li class="breadcrumb-item fw-semibold active" aria-current="page">Esta página</li>
                        </ul>
                    </div>
                </nav>
                <h2 class="h1  fw-bold text-uppercase text-gray-800 ls--2 mb-2">
                    Lorem Ipsum Dolor Sit
                    <i class="bi bi-info-circle-fill align-middle text-secondary fs-3"></i>
                </h2>
                
                <!--
                <a href="#" class="btn btn-khaki btn-sm text-uppercase rounded-4 mt-2" data-bs-target="#modal-search" data-bs-toggle="modal">
                    <i class="bi bi-question-lg fs-5 me-1 lh-1 align-bottom"></i>Entenda
                </a>
                -->
            </div>
        </div>
    </div>
</section>