<section class="position-relative bg-gray-200">
    <div class="container position-relative pt-8 pb-4">
        <div class="row align-items-center">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                    <div class="mb-4">
                        <ol class="breadcrumb fw-semibold mb-0">
                            <li class="breadcrumb-item"><a href="#" class="link-gray-800">Início</a></li>
                            <li class="breadcrumb-item"><a href="#" class="link-gray-800">Deputados</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Esta página</li>
                        </ol>
                    </div>
                </nav>
                <h1 class="mb-0 fw-bold text-uppercase text-gray-800 ls--2">
                    Conheça os Deputados
                </h1>
            </div>
        </div>
    </div>
</section>