<section class="position-relative bg-gray-100 d-none d-lg-block border-top border-bottom">
    <div class="container py-4 d-none d-lg-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb fw-semibold mb-0">
                <li class="breadcrumb-item"><a href="#" class="link-gray-700 fw-semibold">Início</a></li>
                <li class="breadcrumb-item">
                    <a href="#" class="link-gray-700 fw-semibold" data-bs-toggle="dropdown" role="button" aria-expanded="false">Comunicação</a>
                    <ul class="dropdown-menu border-1 border-gray-200 mt-2">
                        <li><a class="dropdown-item fw-semibold link-gray-700" href="#">Notícias</a></li>
                        <li><a class="dropdown-item fw-semibold link-gray-700" href="#">TV Assembleia</a></li>
                        <li><a class="dropdown-item fw-semibold link-gray-700" href="#">Rádio Assembleia</a></li>
                        <li><a class="dropdown-item fw-semibold link-gray-700" href="#">Infográficos</a></li>
                        <li><a class="dropdown-item fw-semibold link-gray-700" href="#">Fotos</a></li>
                    </ul>
                </li>
                <li class="breadcrumb-item"><a href="#" class="link-gray-700 fw-semibold">Notícias</a></li>
                <li class="breadcrumb-item fw-semibold active" aria-current="page">Esta página</li>
            </ol>
        </nav>
    </div>
</section>