<nav>
    <div class="navbar navbar-expand-lg navbar-primary bg-gray-200">
        <div class="container p-3">
            <div class="w-100 d-flex justify-content-end">
                <div class="dropdown me-3 d-none d-md-block">
                    <button class="btn btn-gray-500 btn-sm text-uppercase dropdown-toggle" type="button"
                        id="sitesAlmg" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-house-fill fs-5 lh-1 align-text-bottom me-2"></i>Sites da ALMG
                    </button>
                    <div class="dropdown-menu" aria-labelledby="sitesAlmg">
                        <a class="dropdown-item link-gray-800 fw-semibold" href="#">Portal de Políticas Públicas</a>
                        <a class="dropdown-item link-gray-800 fw-semibold" href="#">Resultado de Eleições</a>
                        <a class="dropdown-item link-gray-800 fw-semibold" href="#">Páginas Especiais</a>
                        <a class="dropdown-item link-gray-800 fw-semibold" href="#">Acervo Arquivístico</a>
                        <a class="dropdown-item link-gray-800 fw-semibold" href="#">Coleção Memória</a>
                        <a class="dropdown-item link-gray-800 fw-semibold" href="#">EAD ALMG</a>   
                    </div>
                </div>
                <div class="me-10 ms-10 pt-1 lh-sm align-content-center d-none d-md-block">
                    <a class="link-gray-500" href="#"><i class="bi bi-instagram fs-4 me-3"></i></a>
                    <a class="link-gray-500" href="#"><i class="bi bi-facebook fs-4 me-3"></i></a>
                    <a class="link-gray-500" href="#"><i class="bi bi-telegram fs-4 me-3"></i></a>
                    <a class="link-gray-500" href="#"><i class="bi bi-twitter fs-4 me-3"></i></a>
                    <a class="link-gray-500" href="#"><i class="bi bi-youtube fs-4 me-3"></i></a>
                </div>
                <a href="#" class="btn btn-gray-500 btn-sm text-uppercase me-3 d-none d-md-block">
                    <i class="bi bi-chat-fill fs-5 lh-1 align-text-bottom me-2"></i>Fale com a Assembleia
                </a>
                <a href="#" class="btn btn-primary fw-semibold btn-sm text-uppercase">
                    <i class="bi bi-person-fill fs-5 lh-1 align-text-bottom me-1"></i>Entrar
                </a>
            </div>
        </div>
    </div>
    <div class="navbar navbar-expand-lg bg-light">
        <div class="container position-relative">
            <a class="navbar-brand" href="../index.html">
                <img src="../assets/img/logo/logo.svg" alt="" class="img-fluid">
            </a>
            <div class="d-flex align-items-center navbar-no-collapse-items order-lg-last">
                <button class="navbar-toggler order-last" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-1" aria-controls="navbar-1" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i></i>
                    </span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navbar-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link link-gray-800 dropdown-toggle" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            data-bs-auto-close="outside">Institucional</a>
                        <div
                            class="dropdown-menu dropdown-menu-start py-0 overflow-hidden">
                            <div class="py-1 py-lg-3 d-lg-flex flex-column">
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Agenda</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Entenda
                                    a Assembleia</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Mesa
                                    Diretora</a>
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Procuradoria da
                                    Mulher</a>
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Direcionamento
                                    Estratégico</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Balanço
                                    das Atividades</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Educação
                                    para Cidadania</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Como
                                    Chegar</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link link-gray-800 dropdown-toggle" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            data-bs-auto-close="outside">Deputados</a>
                        <div
                            class="dropdown-menu dropdown-menu-start py-0 overflow-hidden">
                            <div class="py-1 py-lg-3 d-lg-flex flex-column">
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Conheça os Deputados</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Lideranças</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Representação Partidária</a>
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Deputados Majoritários por Localidade</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link link-gray-800 dropdown-toggle" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            data-bs-auto-close="outside">Atividade Legislativa</a>
                        <div
                            class="dropdown-menu dropdown-menu-start py-0 overflow-hidden">
                            <div class="py-1 py-lg-3 d-lg-flex flex-column">
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Plenário</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Comissões</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Tramitação de Projetos</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Fiscalização</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Legislação</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Planejamento e Orçamento</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Pronunciamentos</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Diário do Legislativo</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link link-gray-800 dropdown-toggle" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            data-bs-auto-close="outside">Participe</a>
                        <div
                            class="dropdown-menu dropdown-menu-start py-0 overflow-hidden">
                            <div class="py-1 py-lg-3 d-lg-flex flex-column">
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Eventos</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Assembleia Cultural</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Dê sua opinião sobre projetos de lei</a>
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Reuniões Interativas</a>
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Consulta Pública</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Envie sua sugestão de projeto de lei
                                </a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Enquetes</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Visite a Assembleia</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link link-gray-800 dropdown-toggle" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            data-bs-auto-close="outside">Comunicação</a>
                        <div
                            class="dropdown-menu dropdown-menu-end py-0 overflow-hidden">
                            <div class="py-1 py-lg-3 d-lg-flex flex-column">
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Notícias</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">TV Assembleia</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Rádio Assembleia</a>
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Galeria de Fotos</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link link-gray-800 dropdown-toggle" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            data-bs-auto-close="outside">Serviços</a>
                        <div
                            class="dropdown-menu dropdown-menu-end py-0 overflow-hidden">
                            <div class="py-1 py-lg-3 d-lg-flex flex-column">
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Procon Assembleia</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Apoio às Câmaras</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Apoio às Prefeituras</a>
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Sala de Imprensa</a>
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Biblioteca</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Espaço Cidadania</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Resultado de Eleições</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Municípios de Minas Gerais</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Boletins por e-mail</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Glossário</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Fale com a Assembleia</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link link-gray-800 dropdown-toggle" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            data-bs-auto-close="outside">Transparência</a>
                        <div
                            class="dropdown-menu dropdown-menu-end py-0 overflow-hidden">
                            <div class="py-1 py-lg-3 d-lg-flex flex-column">
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Prestação de Contas</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Licitações</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Concursos Públicos</a>
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Gestão de Dados Pessoais</a>
                                <a href="#"
                                    class="dropdown-item link-gray-800 fw-semibold">Dados Abertos</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Políticas Públicas</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Educação
                                    para Cidadania</a>
                                <a href="#" class="dropdown-item link-gray-800 fw-semibold">Como
                                    Chegar</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>